<div class="app-main-content">
  <div class="app-container">
    <div class="app-toolbar">
      <div class="card-full">
        <div class="app-breadcrum">
          <div class="brackcrum">
            <i class="fa fa-sitemap" aria-hidden="true"></i>Hồ sơ <i class="fa fa-angle-double-right"
              aria-hidden="true"></i>Nghiệp vụ
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            <span class="brackcrum-active" href='/cms/profile/business/shiftsort'>Hồ sơ nhân viên</span>
          </div>
        </div>
        <app-common-tools name="staffprofile" [items$]="toolItems$" (toolItemClicked)="clickToolbar($event)"></app-common-tools>
      </div>
    </div>

    <div class="app-content">
      <ejs-splitter #splitterInstance id="nested-splitter" (created)='onCreated()' height='100%' width='100%'>
        <e-panes>
          <e-pane size='270px' max='40%'>
            <ng-template #content>
              <div id='vertical_splitter' class="vertical_splitter">
                <div>
                  <div class="content">
                    <cms-app-org></cms-app-org>
                  </div>
                </div>
                <div>
                  <div class="content content-checkbox">
                    <ejs-checkbox label="Cả nhân viên nghỉ việc" (change)="GetEmp($event!)" [checked]="false">
                    </ejs-checkbox>
                    <div class="bg-ter"></div>
                  </div>
                </div>
              </div>
            </ng-template>
          </e-pane>
          <e-pane>
            <ng-template #content>
              <div class="list-grid">
                <ejs-grid #overviewgrid id='overviewgrid' [dataSource]='data | async' showColumnMenu='true'
                  (dataStateChange)="dataStateChange($event!)" [rowHeight]='gridRowHeight' headerHeight='40'
                  [height]='configs.height()' [allowPaging]='true' [pageSettings]='configs.pageSettings'
                  [enableHover]='true' (recordDoubleClick)="viewRecord($event!)" [allowSorting]='true'
                  allowResizing='true' [locale]='configs.currentLang' [allowSelection]='true' [showColumnChooser]='true'
                  [selectionSettings]='configs.selectionSettings' [editSettings]='configs.editSettings'
                  (rowSelecting)="setButtonStatus($event!)" (rowDeselecting)="setButtonStatus($event!)"
                  [allowFiltering]='true' [allowExcelExport]='true'>
                  <e-columns>
                    <e-column type='checkbox' [showInColumnChooser]='false' [allowFiltering]='false'
                      [allowSorting]='false' width='50' textAlign="Center" [allowEditing]="false" isFrozen="true">
                    </e-column>
                    <e-column field='id' [showInColumnChooser]='false' [visible]='false' headerText='ID'
                      [isPrimaryKey]='true' [allowEditing]="false">
                    </e-column>
                    <e-column field='avatar' headerTextAlign="Center" textAlign="Center" headerText="Ảnh"
                      clipMode='EllipsisWithTooltip' width='100' isFrozen="true">
                      <ng-template #template let-data>
                        <img src="{{data.avatar}}" class="grid-avatar" *ngIf="data.avatar!= null">
                      </ng-template>
                    </e-column>
                    <e-column field='code' headerTextAlign="Left" textAlign="Left" headerText="Mã NV"
                      clipMode='EllipsisWithTooltip' width='122' isFrozen="true"></e-column>
                    <e-column field='fullname' headerTextAlign="Left" textAlign="Left" headerText="Họ tên"
                      clipMode='EllipsisWithTooltip' isFrozen="true" width='180'>
                    </e-column>
                    <e-column field='orgName' headerTextAlign="Left" textAlign="Left" headerText="Phòng ban"
                      clipMode='EllipsisWithTooltip'>
                    </e-column>
                    <e-column field='positionName' headerTextAlign="Left" textAlign="Left" headerText="Chức danh"
                      clipMode='EllipsisWithTooltip'>
                    </e-column>
                    <e-column field='joinDate' headerTextAlign="Center" textAlign="Center" headerText="Ngày vào công ty"
                      clipMode='EllipsisWithTooltip' width='180'></e-column>
                    <e-column field='birthDate' headerTextAlign="Center" type="date"
                      [format]="{ type: 'date', format: 'dd/MM/yyyy' }" [allowFiltering]="false" textAlign="Center"
                      headerText="Ngày sinh" clipMode='EllipsisWithTooltip' width='115'></e-column>
                    <e-column field='birthPlace' headerTextAlign="Left" textAlign="Left" headerText="Nơi sinh"
                      clipMode='EllipsisWithTooltip' width='120'>
                    </e-column>
                    <e-column field='genderName' headerTextAlign="Center" textAlign="Center" headerText="Giới tính"
                      clipMode='EllipsisWithTooltip' width='105'>
                    </e-column>
                    <e-column field='mobilePhone' headerTextAlign="Left" textAlign="Left" headerText="SDT"
                      clipMode='EllipsisWithTooltip' width='110'>
                    </e-column>
                    <e-column field='email' headerTextAlign="Left" textAlign="Left" headerText="Email"
                      clipMode='EllipsisWithTooltip' width='138'>
                    </e-column>
                    <e-column field='idNo' headerTextAlign="Left" textAlign="Left" headerText="CMND"
                      clipMode='EllipsisWithTooltip' width='127'>
                    </e-column>
                    <e-column field='idDate' headerTextAlign="Left" type="date"
                      [format]="{ type: 'date', format: 'dd/MM/yyyy' }" textAlign="Center" headerText="Ngày cấp"
                      clipMode='EllipsisWithTooltip' [allowFiltering]="false" width='110'></e-column>
                    <e-column field='idPlace' headerTextAlign="Left" textAlign="Left" headerText="Nơi cấp"
                      clipMode='EllipsisWithTooltip' width='160'>
                    </e-column>
                    <e-column field='provinceName' headerTextAlign="Left" textAlign="Left" headerText="Tỉnh/TP"
                      clipMode='EllipsisWithTooltip' width='110'>
                    </e-column>
                    <e-column field='districtName' headerTextAlign="Left" textAlign="Left" headerText="Quận/Huyện"
                      clipMode='EllipsisWithTooltip' width='127'>
                    </e-column>
                    <e-column field='wardName' headerTextAlign="Left" textAlign="Left" headerText="Xã/Phường"
                      clipMode='EllipsisWithTooltip' width='127'>
                    </e-column>
                    <e-column field='address' headerTextAlign="Left" textAlign="Left" headerText="Địa chỉ"
                      clipMode='EllipsisWithTooltip' width='150'>
                    </e-column>
                    <e-column field='itimeCode' headerTextAlign="Left" textAlign="Left" headerText="Mã chấm công"
                      clipMode='EllipsisWithTooltip' width='138'>
                    </e-column>
                    <e-column field='taxCode' headerTextAlign="Left" textAlign="Left" headerText="Mã số thuế"
                      clipMode='EllipsisWithTooltip' width='138'>
                    </e-column>
                    <e-column field='workStatusName' headerTextAlign="Center" textAlign="Center" headerText="Trạng thái"
                      clipMode='EllipsisWithTooltip' width='127'>
                      <ng-template #template let-data>
                        <div class="row-status full-width">
                          <div class="status-effect text-center" *ngIf="data.workStatusId == 1 ">
                            <span>Đang làm việc</span>
                          </div>
                          <div class="status-warning text-center" *ngIf="data.workStatusId == 3">
                            <span>Nghỉ sinh</span>
                          </div>
                          <div class="status-not-effect text-center" *ngIf="data.workStatusId == 2">
                            <span>Nghỉ việc</span>
                          </div>
                        </div>
                      </ng-template>
                    </e-column>
                  </e-columns>
                </ejs-grid>
              </div>
            </ng-template>
          </e-pane>
        </e-panes>
      </ejs-splitter>

    </div>

  </div>
</div>

<input id="file" type="file" name="name"
  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
  style="display: none;" (change)='inputFile($event!)' />
<gohr-confirm-modal id="confirm-import-modal">
  <div class="row full-width gohr-modal-header">
    Xác nhận Import
  </div>
  <div class="row full-width gohr-modal-footer text-center">
    <button class="btn btn-primary" (click)="confirmImport('ok')">Đồng
      ý</button>
    <button class="btn btn-default" (click)="confirmImport('cancel')">Hủy</button>
  </div>
</gohr-confirm-modal>

<gohr-confirm-modal id="confirm-delete-modal">
  <div class="row full-width gohr-modal-header">
    Bạn có chắc chắn muốn xóa không ?
  </div>
  <div class="row full-width gohr-modal-footer text-center">
    <button class="btn btn-primary" (click)="confirmDelete('ok')">Đồng
      ý</button>
    <button class="btn btn-default" (click)="confirmDelete('cancel')">Hủy</button>
  </div>
</gohr-confirm-modal>