<div class="app-main-content">
  <div class="app-container">
    <!-- toolbar -->
    <div class="app-toolbar">
      <div class="card-full">
        <!-- breadcrum-->
        <div class="app-breadcrum">
          <div class="brackcrum">
            <i class="fa fa-sitemap" aria-hidden="true"></i>Hồ sơ <i class="fa fa-angle-double-right"
              aria-hidden="true"></i>Danh mục
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            <span class="brackcrum-active" href='/cms/profile/list/allowanseemployee'>Phụ cấp nhân
              viên</span>
          </div>
        </div>
        <!-- toolbar -->
        <app-common-tools name="allowanceemployee" [items$]="toolItems$" (toolItemClicked)="clickToolbar($event)"></app-common-tools>
      </div>
    </div>
    <div class="app-content">
      <ejs-splitter #horizontal width='100%'>
        <e-panes>
          <e-pane size='270px' max='40%'>
            <ng-template #content>
              <cms-app-org></cms-app-org>
            </ng-template>
          </e-pane>
          <e-pane>
            <ng-template #content>
              <div class="list-grid">
                <ejs-grid #overviewgrid id='overviewgrid' [dataSource]='data | async'
                  (dataStateChange)="dataStateChange($event!)" rowHeight='37' headerHeight='42'
                  [height]='configs.height()' [allowPaging]='true' [pageSettings]='configs.pageSettings'
                  [enableHover]='true' (recordDoubleClick)="viewRecord($event!)" [allowSorting]='true'
                  allowResizing='true' [locale]='configs.currentLang' [allowSelection]='true' [showColumnChooser]='true'
                  [selectionSettings]='configs.selectionSettings' [editSettings]='configs.editSettings'
                  (rowSelecting)="setButtonStatus($event!)" (rowDeselecting)="setButtonStatus($event!)"
                  [allowFiltering]='true'>
                  <e-columns>
                    <e-column type='checkbox' [showInColumnChooser]='false' [allowFiltering]='false'
                      [allowSorting]='false' width='60' textAlign="Center" [allowEditing]="false">
                    </e-column>
                    <e-column field='id' [showInColumnChooser]='false' [visible]='false' headerText='ID'
                      [isPrimaryKey]='true' [allowEditing]="false">
                    </e-column>
                    <e-column field='employeeCode' headerTextAlign="Center" textAlign="Left" headerText="Mã nhân viên"
                      clipMode='EllipsisWithTooltip'></e-column>
                    <e-column field='employeeName' headerTextAlign="Center" textAlign="Left" headerText="Nhân viên"
                      clipMode='EllipsisWithTooltip'></e-column>
                    <e-column field='allowanceName' headerTextAlign="Center" textAlign="Left" headerText="Phụ cấp"
                      clipMode='EllipsisWithTooltip'></e-column>
                    <e-column field='monney' headerTextAlign="Center" textAlign="Right" type='number'
                      headerText="Số tiền" clipMode='EllipsisWithTooltip' format='N0'>
                    </e-column>
                    <e-column field='dateStart' headerTextAlign="Center" type="date"
                      [format]="{ type: 'date', format: 'dd/MM/yyyy' }" textAlign="Center" headerText="Ngày hiệu lực"
                      clipMode='EllipsisWithTooltip'>
                    </e-column>
                    <e-column field='dateEnd' headerTextAlign="Center" type="date"
                      [format]="{ type: 'date', format: 'dd/MM/yyyy' }" textAlign="Center"
                      headerText="Ngày hết hiệu lực" clipMode='EllipsisWithTooltip'>
                    </e-column>

                    <e-column field='note' headerTextAlign="Center" textAlign="Left" headerText="Ghi chú"
                      clipMode='EllipsisWithTooltip'>
                    </e-column>
                    <!--  -->
                    <e-column field='isActive' textAlign="Center" headerText="Trạng thái"
                      clipMode='EllipsisWithTooltip'>
                      <ng-template #template let-data>
                        <div class="row-status full-width">
                          <div class="status-effect text-center" *ngIf="data.isActive">
                            <span>Hiệu lực</span>
                          </div>
                          <div class="status-not-effect text-center" *ngIf="!data.isActive">
                            <span>Không hiệu lực</span>
                          </div>
                        </div>
                      </ng-template>
                    </e-column>
                  </e-columns>
                </ejs-grid>
              </div>
            </ng-template>
          </e-pane>
        </e-panes>
      </ejs-splitter>
    </div>
  </div>
</div>