<!-- Widget Biểu đồ tình hình tuyển dụng 2018 -->
<div class="col-sm-12  dash-widget">
  <div class="row full-width dash-card dash-card-normal">
    <div class="dash-card-header full-width">
      So sánh chi phí theo tháng năm 2018 & 2019
    </div>
    <div class="dash-card-content dash-card-content-summary full-width">
      <div class="row full-width">
        <!-- <highcharts-chart
          style="width: 100%; display: block; margin: auto; float: left;"
          [Highcharts]="Highcharts" [options]="costCompareChart">
        </highcharts-chart> -->
      </div>
    </div>
  </div>
</div>


<!-- Widget Biểu đồ tình hình tuyển dụng 2018 -->
<div class="col-sm-12  dash-widget">
  <div class="row full-width dash-card dash-card-normal">
    <div class="dash-card-content dash-card-content-summary full-width">
      <div class="row full-width">
        <!-- <highcharts-chart
          style="width: 100%; display: block; margin: auto; float: left;"
          [Highcharts]="Highcharts" [options]="recruimentChart">
        </highcharts-chart> -->
      </div>
    </div>
  </div>
</div>



<!-- Widget Biểu đồ Báo cáo nhân sự -->
<div class="col-sm-6  dash-widget">
  <div class="row full-width dash-card dash-card-normal">
    <div class="dash-card-content dash-card-content-summary full-width">
      <div class="row full-width">
        <!-- <highcharts-chart
          style="width: 100%; display: block; margin: auto; float: left;"
          [Highcharts]="Highcharts" [options]="staffChart">
        </highcharts-chart> -->
      </div>
    </div>
  </div>
</div>
