<div class="app-main-content">
  <div class="app-container">
    <!-- toolbar -->
    <div class="app-toolbar">
      <div class="card-center">
        <!-- breadcrum-->
        <div class="app-breadcrum">
          <div class="brackcrum">
            <i class="fa fa-sitemap" aria-hidden="true"></i>Hồ sơ <i class="fa fa-angle-double-right"
              aria-hidden="true"></i>Danh mục
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            <span class="brackcrum-active" href='/cms/organize/business/position'>Chi tiết vị trí công việc</span>
          </div>
        </div>
        <!-- toolbar -->
        <app-common-tools name="position-edit" [items$]="toolItems$"
          (toolItemClicked)="clickToolbar($event)"></app-common-tools>
      </div>
    </div>
    <!--main-content -->
    <div class="app-content">
      <div class="card-center">
        <form name="editForm" [formGroup]="editForm" novalidate>
          <div class="group-box" formGroupName="model">
            <div class="card-head">
              <div class="icon-info histaff-icon"></div>
              <label class="title">Thông tin </label>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <label class="e-float-text required">Tên</label>
                      <input class="form-control" type="text" formControlName="name" [(ngModel)]="model.name">
                      <span class="input-error"
                        *ngIf="editForm.controls['model'].get('name')!.hasError('required') && !editForm.controls['model'].get('name')!.untouched  ">
                        Bắt buộc nhập
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <label class="e-float-text">Tên EN</label>
                      <input class="form-control" type="text" formControlName="nameEn" [(ngModel)]="model.nameEn">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <!-- Ngày hiệu lực -->
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <label class="e-float-text required">Ngày hiệu lực</label>
                      <ejs-datepicker id="effectivedate" format="dd/MM/yyyy" [(ngModel)]="model.effectivedate"
                        (keydown)="changeDate('effectivedate')" (blur)="changeDate('effectivedate')"
                        formControlName="effectivedate" placeholder=".../.../...">
                      </ejs-datepicker>
                      <span class="input-error"
                        *ngIf="editForm.controls['model'].get('effectivedate')!.hasError('required') && !editForm.controls['model'].get('effectivedate')!.untouched">
                        Bắt buộc chọn
                      </span>
                      <span class="input-error"
                        *ngIf="editForm.controls['model'].get('effectivedate')!.hasError('required') && !editForm.controls['model'].get('effectivedate')!.untouched">
                        Sai định dạng
                      </span>
                    </div>
                  </div>
                </div>
                <!-- <div class="row">
                <div class="col-sm-6">
                  <div class="form-group vertical">
                    <label class="e-float-text required">Nhóm chức
                      danh</label>
                    <ejs-dropdownlist [dataSource]='lstGroupId' [fields]='fields'
                      [showClearButton]="true" [(ngModel)]="model.groupId"
                      formControlName="groupId" [placeholder]="''"
                      [allowFiltering]='true'
                      (filtering)='onFiltering($event,lstParentId)'>
                    </ejs-dropdownlist>
                    <span class="input-error"
                      *ngIf="editForm.get('groupId')!.hasError('required') && !editForm.get('groupId')!.untouched">
                      Bắt buộc chọn
                    </span>
                  </div>
                </div>
              </div> -->
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <label class="e-float-text required">Mã vị trí</label>
                      <input class="form-control" type="text" formControlName="code" [(ngModel)]="model.code"
                        maxlength="31">
                      <span class="input-error"
                        *ngIf="editForm.controls['model'].get('code')!.hasError('required') && !editForm.controls['model'].get('code')!.untouched">
                        Bắt buộc nhập
                      </span>
                      <span class="input-error "
                        *ngIf="editForm.controls['model'].get('code')!.hasError('required') && !editForm.controls['model'].get('code')!.untouched">
                        Sai định dạng
                      </span>
                    </div>
                  </div>
                  <!--
                <div class="col-sm-12">
                  <div class="form-group vertical">
                    <label class="e-float-text ">Mô tả công việc</label>
                    <textarea class="form-control"   formControlName="jobDesc" [(ngModel)]="model.jobDesc"
                      id="textarea" rows="3"></textarea>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group vertical">
                    <label class="e-float-text ">Ghi
                      chú</label>
                    <textarea class="form-control"  formControlName="note" [(ngModel)]="model.note"
                      id="textarea" rows="3"></textarea>
                  </div>
                </div> -->
                </div>
                <!-- Công việc -->
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <label class="e-float-text required">Công việc</label>
                      <ejs-dropdownlist [dataSource]='lstJobId' [fields]='fields' [showClearButton]="true"
                        [(ngModel)]="model.jobid" formControlName="jobid" [placeholder]="''" [allowFiltering]='true'
                        (filtering)='onFiltering($event,lstParentId)'>
                      </ejs-dropdownlist>
                      <span class="input-error"
                        *ngIf="editForm.controls['model'].get('jobid')!.hasError('required') && !editForm.controls['model'].get('jobid')!.untouched">
                        Bắt buộc chọn
                      </span>
                    </div>
                  </div>
                </div>
                <!-- Thời gian làm việc -->
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <label class="e-float-text">Thời gian làm việc</label>
                      <ejs-dropdownlist [dataSource]='lstWorkingTimeID' [fields]='fields' [showClearButton]="true"
                        [(ngModel)]="model.workingtime" formControlName="workingtime" [placeholder]="''"
                        [allowFiltering]='true' (filtering)='onFiltering($event,lstParentId)'>
                      </ejs-dropdownlist>
                    </div>
                  </div>
                </div>
                <!-- Phòng ban -->
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical-flex">
                      <label class="e-float-text required" for="orgid">Ban/Phòng</label>
                      <input formControlName="orgid" [(ngModel)]="model.orgname" type="text" class="form-control"
                        readonly>
                      <div class="input-group-append">
                        <button class="btn btn-search" type="button" (click)="choiseOrg()"></button>
                      </div>
                      <span class="input-error"
                        *ngIf="editForm.controls['model'].get('orgid')!.hasError('required') && !editForm.controls['model'].get('orgid')!.untouched">
                        Trường Ban/Phòng bắt buộc chọn
                      </span>
                    </div>
                  </div>
                </div>
                <!-- Trưởng đơn vị, Kế hoạch, Non Physical  -->
                <div class="row">
                  <!-- Trưởng đơn vị  -->
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="e-float-input">
                        <ejs-checkbox formControlName="isowner" label="Trưởng đơn vị" [(ngModel)]="model.isowner">
                        </ejs-checkbox>
                      </div>
                    </div>
                  </div>
                  <!-- Kế hoạch  -->
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="e-float-input">
                        <ejs-checkbox formControlName="isplan" label="Kế hoạch" [(ngModel)]="model.isplan">
                        </ejs-checkbox>
                      </div>
                    </div>
                  </div>
                  <!-- Non Physical	 -->
                  <div class="col-sm-4">
                    <div class="form-group">
                      <div class="e-float-input">
                        <ejs-checkbox formControlName="isnonphysical" label="Non Physical"
                          [(ngModel)]="model.isnonphysical">
                        </ejs-checkbox>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row">
                  <!-- Vị trí quản lý trực tiếp -->
                  <div class="col-sm-12">
                    <div class="form-group vertical-flex">
                      <label class="e-float-text">Vị trí quản lý trực tiếp</label>
                      <input formControlName="lm" [ngModel]="model.lmposition" type="text" class="form-control"
                        readonly>
                      <div class="input-group-append">
                        <button class="btn btn-search" type="button" (click)="choiseQLTT()"></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <!-- Quản lý trực tiếp -->
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <label class="e-float-text" for="lmname">Quản lý trực tiếp</label>
                      <input class="form-control" type="text" formControlName="lmname" [ngModel]="model.lmname"
                        readonly>
                    </div>
                  </div>
                </div>
                <!-- Vị trí quản lý gián tiếp -->
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical-flex">
                      <label class="e-float-text">Vị trí quản lý gián tiếp</label>
                      <input formControlName="csm" [ngModel]="model.csmposition" type="text" class="form-control"
                        readonly>
                      <div class="input-group-append">
                        <button class="btn btn-search" type="button" (click)="choiseQLGT()"></button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Quản lý gián tiếp -->
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <label class="e-float-text" for="csmname">Quản lý gián tiếp</label>
                      <input class="form-control" type="text" formControlName="csmname" [ngModel]="model.csmname"
                        readonly>
                    </div>
                  </div>
                </div>
                <!-- Master -->
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <label class="e-float-text" for="mastername">Master</label>
                      <input class="form-control" type="text" formControlName="mastername" [ngModel]="model.mastername"
                        readonly>
                    </div>
                  </div>
                </div>
                <!-- Interim -->
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <label class="e-float-text" for="interimname">Interim</label>
                      <input class="form-control" type="text" formControlName="interimname"
                        [ngModel]="model.interimname" readonly>
                    </div>
                  </div>
                </div>
                <!-- Thạng thái -->
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <label class="e-float-text">Trạng thái</label>
                      <ejs-dropdownlist [dataSource]='lstStatusID' [fields]='fields' [showClearButton]="true"
                        [(ngModel)]="model.isActive" formControlName="isActive" [placeholder]="''"
                        [allowFiltering]='true' (filtering)='onFiltering($event,lstParentId)'>
                      </ejs-dropdownlist>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="group-box" formGroupName="positionDesc">
            <div class="card-head">
              <div class="icon-info histaff-icon"></div>
              <label class="title">Mô tả công việc</label>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <!-- I. Mục đích công việc -->
                <label class="item-head">I. Mục đích công việc</label>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <div class="row">
                        <div class="col-sm-2">
                          <span class="lb">1</span>
                        </div>
                        <div class="col-sm-10">
                          <input class="form-control" type="text" formControlName="jobtarget1"
                            [(ngModel)]="positionDesc.jobtarget1">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <div class="row">
                        <div class="col-sm-2">
                          <span class="lb">2</span>
                        </div>
                        <div class="col-sm-10">
                          <input class="form-control" type="text" formControlName="jobtarget2"
                            [(ngModel)]="positionDesc.jobtarget2">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <div class="row">
                        <div class="col-sm-2">
                          <span class="lb">3</span>
                        </div>
                        <div class="col-sm-10">
                          <input class="form-control" type="text" formControlName="jobtarget3"
                            [(ngModel)]="positionDesc.jobtarget3">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <div class="row">
                        <div class="col-sm-2">
                          <span class="lb">4</span>
                        </div>
                        <div class="col-sm-10">
                          <input class="form-control" type="text" formControlName="jobtarget4"
                            [(ngModel)]="positionDesc.jobtarget4">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <div class="row">
                        <div class="col-sm-2">
                          <span class="lb">5</span>
                        </div>
                        <div class="col-sm-10">
                          <input class="form-control" type="text" formControlName="jobtarget5"
                            [(ngModel)]="positionDesc.jobtarget5">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <div class="row">
                        <div class="col-sm-2">
                          <span class="lb">6</span>
                        </div>
                        <div class="col-sm-10">
                          <input class="form-control" type="text" formControlName="jobtarget6"
                            [(ngModel)]="positionDesc.jobtarget6">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <label class="item-head">II. Tiêu chuẩn vị trí</label>
                <!-- Trình độ chuyên môn	 -->
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <div class="row">
                        <div class="col-sm-3">
                          <label class="lb">Trình độ chuyên môn</label>
                        </div>
                        <div class="col-sm-9">
                          <ejs-dropdownlist [dataSource]='lstTdcmID' [fields]='fields' [showClearButton]="true"
                            [(ngModel)]="positionDesc.tdcm" formControlName="tdcm" [placeholder]="''"
                            [allowFiltering]='true' (filtering)='onFiltering($event,lstParentId)'>
                          </ejs-dropdownlist>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Chuyên ngành đào tạo -->
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <div class="row">
                        <div class="col-sm-3">
                          <span class="lb">Chuyên ngành đào tạo</span>
                        </div>
                        <div class="col-sm-9">
                          <input class="form-control" type="text" formControlName="major"
                            [(ngModel)]="positionDesc.major">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Kinh nghiệm làm việc -->
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <div class="row">
                        <div class="col-sm-3">
                          <span class="lb">Kinh nghiệm làm việc</span>
                        </div>
                        <div class="col-sm-9">
                          <input class="form-control" type="text" formControlName="workexp"
                            [(ngModel)]="positionDesc.workexp">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Trình độ ngoại ngữ -->
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <div class="row">
                        <div class="col-sm-3">
                          <label class="lb">Trình độ ngoại ngữ</label>
                        </div>
                        <div class="col-sm-9">
                          <ejs-dropdownlist [dataSource]='lstLanguageID' [fields]='fields' [showClearButton]="true"
                            [(ngModel)]="positionDesc.language" formControlName="language" [placeholder]="''"
                            [allowFiltering]='true' (filtering)='onFiltering($event,lstParentId)'>
                          </ejs-dropdownlist>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Trình độ tin học/phần mềm -->
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <div class="row">
                        <div class="col-sm-3">
                          <label class="lb">Trình độ tin học/phần mềm</label>
                        </div>
                        <div class="col-sm-9">
                          <ejs-dropdownlist [dataSource]='lstComputerID' [fields]='fields' [showClearButton]="true"
                            [(ngModel)]="positionDesc.computer" formControlName="computer" [placeholder]="''"
                            [allowFiltering]='true' (filtering)='onFiltering($event,lstParentId)'>
                          </ejs-dropdownlist>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Các kỹ năng hỗ trợ -->
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <div class="row">
                        <div class="col-sm-3">
                          <span class="lb">Các kỹ năng hỗ trợ</span>
                        </div>
                        <div class="col-sm-9">
                          <input class="form-control" type="text" formControlName="supportskill"
                            [(ngModel)]="positionDesc.supportskill">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">

                <!-- III.1 Quan hệ tương tác -->
                <label class="item-head">III.1 Quan hệ tương tác</label>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <div class="row">
                        <div class="col-sm-2">
                          <span class="lb">Nội bộ</span>
                        </div>
                        <div class="col-sm-10">
                          <input class="form-control" type="text" formControlName="internal1"
                            [(ngModel)]="positionDesc.internal1">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <div class="row">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-10">
                          <input class="form-control" type="text" formControlName="internal2"
                            [(ngModel)]="positionDesc.internal2">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <div class="row">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-10">
                          <input class="form-control" type="text" formControlName="internal3"
                            [(ngModel)]="positionDesc.internal3">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <label class="item-head"></label>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <div class="row">
                        <div class="col-sm-3">
                          <span class="lb">Bên ngoài</span>
                        </div>
                        <div class="col-sm-9">
                          <input class="form-control" type="text" formControlName="internal1"
                            [(ngModel)]="positionDesc.outside1">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <div class="row">
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-9">
                          <input class="form-control" type="text" formControlName="outside2"
                            [(ngModel)]="positionDesc.outside2">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <div class="row">
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-9">
                          <input class="form-control" type="text" formControlName="outside3"
                            [(ngModel)]="positionDesc.outside3">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <!-- III.2.1 Trách nhiệm -->
                <label class="item-head">III.2.1 Trách nhiệm</label>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3">
                          <span class="lb-center">Trách nhiệm</span>
                        </div>
                        <div class="col-sm-5">
                          <span class="lb-center">Trách nhiệm cụ thể</span>
                        </div>
                        <div class="col-sm-3">
                          <span class="lb-center">Kết quả đầu ra</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <div class="row">
                        <div class="col-sm-1">
                          <span class="lb">1</span>
                        </div>
                        <div class="col-sm-3">
                          <input class="form-control" type="text" formControlName="responsibility1"
                            [(ngModel)]="positionDesc.responsibility1">
                        </div>
                        <div class="col-sm-5">
                          <input class="form-control" type="text" formControlName="detailresponsibility1"
                            [(ngModel)]="positionDesc.detailresponsibility1">
                        </div>
                        <div class="col-sm-3">
                          <input class="form-control" type="text" formControlName="outresult1"
                            [(ngModel)]="positionDesc.outresult1">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <div class="row">
                        <div class="col-sm-1">
                          <span class="lb">2</span>
                        </div>
                        <div class="col-sm-3">
                          <input class="form-control" type="text" formControlName="responsibility2"
                            [(ngModel)]="positionDesc.responsibility2">
                        </div>
                        <div class="col-sm-5">
                          <input class="form-control" type="text" formControlName="detailresponsibility2"
                            [(ngModel)]="positionDesc.detailresponsibility2">
                        </div>
                        <div class="col-sm-3">
                          <input class="form-control" type="text" formControlName="outresult2"
                            [(ngModel)]="positionDesc.outresult2">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <div class="row">
                        <div class="col-sm-1">
                          <span class="lb">3</span>
                        </div>
                        <div class="col-sm-3">
                          <input class="form-control" type="text" formControlName="responsibility3"
                            [(ngModel)]="positionDesc.responsibility3">
                        </div>
                        <div class="col-sm-5">
                          <input class="form-control" type="text" formControlName="detailresponsibility3"
                            [(ngModel)]="positionDesc.detailresponsibility3">
                        </div>
                        <div class="col-sm-3">
                          <input class="form-control" type="text" formControlName="outresult3"
                            [(ngModel)]="positionDesc.outresult3">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <div class="row">
                        <div class="col-sm-1">
                          <span class="lb">4</span>
                        </div>
                        <div class="col-sm-3">
                          <input class="form-control" type="text" formControlName="responsibility4"
                            [(ngModel)]="positionDesc.responsibility4">
                        </div>
                        <div class="col-sm-5">
                          <input class="form-control" type="text" formControlName="detailresponsibility4"
                            [(ngModel)]="positionDesc.detailresponsibility4">
                        </div>
                        <div class="col-sm-3">
                          <input class="form-control" type="text" formControlName="outresult4"
                            [(ngModel)]="positionDesc.outresult4">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <div class="row">
                        <div class="col-sm-1">
                          <span class="lb">5</span>
                        </div>
                        <div class="col-sm-3">
                          <input class="form-control" type="text" formControlName="responsibility5"
                            [(ngModel)]="positionDesc.responsibility5">
                        </div>
                        <div class="col-sm-5">
                          <input class="form-control" type="text" formControlName="detailresponsibility5"
                            [(ngModel)]="positionDesc.detailresponsibility5">
                        </div>
                        <div class="col-sm-3">
                          <input class="form-control" type="text" formControlName="outresult5"
                            [(ngModel)]="positionDesc.outresult5">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-12">
                <!-- III.2.2 Quyền hạn -->
                <label class="item-head">III.2.2 Quyền hạn</label>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <div class="row">
                        <div class="col-sm-1">
                          <span class="lb">1</span>
                        </div>
                        <div class="col-sm-11">
                          <input class="form-control" type="text" formControlName="permission1"
                            [(ngModel)]="positionDesc.permission1">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <div class="row">
                        <div class="col-sm-1">
                          <span class="lb">2</span>
                        </div>
                        <div class="col-sm-11">
                          <input class="form-control" type="text" formControlName="permission2"
                            [(ngModel)]="positionDesc.permission2">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <div class="row">
                        <div class="col-sm-1">
                          <span class="lb">3</span>
                        </div>
                        <div class="col-sm-11">
                          <input class="form-control" type="text" formControlName="permission3"
                            [(ngModel)]="positionDesc.permission3">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <div class="row">
                        <div class="col-sm-1">
                          <span class="lb">4</span>
                        </div>
                        <div class="col-sm-11">
                          <input class="form-control" type="text" formControlName="permission4"
                            [(ngModel)]="positionDesc.permission4">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <div class="row">
                        <div class="col-sm-1">
                          <span class="lb">5</span>
                        </div>
                        <div class="col-sm-11">
                          <input class="form-control" type="text" formControlName="permission5"
                            [(ngModel)]="positionDesc.permission5">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group vertical">
                      <div class="row">
                        <div class="col-sm-1">
                          <span class="lb">6</span>
                        </div>
                        <div class="col-sm-11">
                          <input class="form-control" type="text" formControlName="permission6"
                            [(ngModel)]="positionDesc.permission6">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<cms-app-modals-org id="cms-app-modals-org">
</cms-app-modals-org>
<!-- search employee -->
<cms-app-modalsemp id="cms-app-modalsemp">
</cms-app-modalsemp>
<!-- CONFIRM BACK MODAL-->
<gohr-confirm-modal id="confirm-back-modal">
  <div class="row full-width gohr-modal-header">
    Những thay đổi hiện tại sẽ bị mất. Bạn có thực sự muốn tiếp tục?
  </div>
  <div class="row full-width gohr-modal-footer text-center">
    <button class="btn btn-primary" (click)="confirmBack('ok')">Đồng ý</button>
    <button class="btn btn-default" (click)="confirmBack('cancel')">Hủy</button>
  </div>
</gohr-confirm-modal>

<!-- CONFIRM DELETE MODAL-->
<gohr-confirm-modal id="confirm-delete-modal">
  <div class="row full-width gohr-modal-header">
    Những thay đổi hiện tại sẽ bị mất. Bạn có thực sự muốn tiếp tục?
  </div>
  <div class="row full-width gohr-modal-footer text-center">
    <button class="btn btn-primary" (click)="confirmDelete('ok')">Đồng
      ý</button>
    <button class="btn btn-default" (click)="confirmDelete('cancel')">Hủy</button>
  </div>
</gohr-confirm-modal>

<!-- CONFIRM DIRECT MODAL-->
<gohr-confirm-modal id="confirm-direct-modal">
  <div class="row full-width gohr-modal-header">
    Những thay đổi hiện tại sẽ bị mất. Bạn có thực sự muốn tiếp tục?
  </div>
  <div class="row full-width gohr-modal-footer text-center">
    <button class="btn btn-primary">Đồng
      ý</button>
    <button class="btn btn-default">Hủy</button>
  </div>
</gohr-confirm-modal>