app-position-edit {
    .item-head {
        font-weight: normal;
        font-size: 13px;
        color: #2196f3;
    }
    .lb{
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #737373;
        margin-bottom: 8px;
        position: absolute;
        top: 9px;
        right: 0px;
    }
    .lb-center{
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #737373;
        margin-bottom: 8px;
        position: absolute;
        top: 9px;
        right: 35%;
    }
}
