.login-bg {
  width: 100%;
  height: calc(100vh);
  background: url('../../../assets/images/login_bg_image.png');
  background-size: cover;
}

.login-icon {
  display: block;
  font-size: 24px;
}

.user-icon {
  float: left;
  transform: translate(22px, 44px);
  color: #A2A2A2;
}

.lock-icon {
  float: left;
  transform: translate(22px, 44px);
  color: #A2A2A2;
}

.eye-icon {
  float: right;
  transform: translate(-22px, 44px);
  color: #000000;
}

.login-logo-wrapper {
  position: absolute;
  width: 144px;
  height: 52.01px;
  top: 45px;
  left: 49px;

  img {
    width: 144px;
  }
}

.w-100p {
  width: 100%;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forgot-text {
  color: #F37540;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  text-align: right;
}

.last-input-line {
  margin-bottom: 32px;
}

.remember-block {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  span {
    margin-left: 10px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #A7A7A7;
  }
}

.form-copyright-block {

  font-family: "Roboto";

  background: transparent;
  top: calc(50vh - 384px); //156px;
  right: calc(270 * 100vw/1920);        //270px;
  position: absolute;
  height: 769px;

  .form-wrapper {
    background: white;
    border-radius: 20px;
    width: 607px;
    height: 709px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);

    .histaff-logo-wrapper {
      position: relative;
      top: 81px;
      left: 118px;
      width: 370.15px;
      height: 120px;

      img {
        width: 100%;
      }

    }

    .login-form {
      position: absolute;
      top: 266px;
      left: 50px;
      width: 508px;
      height: 322px;

      form {

        .user,
        .password,
        .remember {
          display: block;
          border-radius: 5px;
          border: 1px solid #D1D1D1;
        }

        .user,
        .password {
          width: 100%;
          height: 64px;
          font-family: 'Roboto';
          font-weight: 400;
          font-size: 17px;
          line-height: 20px;
          margin-bottom: 34px;
          padding-left: 61px;
          color: #A7A7A7 !important;
          background: #FFFFFF !important;
        }

        .user::before {
          content: icon;
        }

        .remember {
          box-sizing: border-box;
          width: 30px;
          height: 30px;
        }

        .submit {
          background: #F37540;
          border-radius: 5px;
          color: #FFFFFF;
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 23px;
          text-align: center;
          width: 100%;
          height: 64px;
          border: none;
        }

      }
    }
  }

  .copyright {
    position: absolute;
    bottom: 0px;
    left: 67px;
    width: 473px;
    height: 24px;

    span {

      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.015em;
      color: #9C9C9C;
    }
  }
}

@media (max-width: 1200px) {
  .login-bg {
    display: none;
  }

  .form-copyright-block {
    right: calc(50vw - 303px);
    border-radius: 0px;
    box-shadow: none;
  }
}

@media (max-width: 768px) {

  app-login {
    width: 100% !important;
    height: calc(100vh) !important;
    background: white;
  }

  .histaff-logo-wrapper {
    width: 100% !important;
    position: relative;
    top: unset !important;
    left: unset !important;
    height: unset !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    img {
      width: 222px !important;
    }
  }

  .login-bg {
    display: none;
  }

  .login-logo-wrapper {
    display: none;
  }

  .form-copyright-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100% !important;
    top: 0px;
    right: unset !important;
    height: calc(100vh);
    padding-top: 50px;
    padding-bottom: 50px;

    .form-wrapper {
      .login-form {
        top: unset !important;
        left: unset !important;
        padding-top: 100px;
        padding-bottom: 50px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }

    .copyright {
      position: relative !important;
      left: auto;
      bottom: auto;
      width: 100% !important;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;

      span {
        font-size: 12px;
      }
    }
  }

  .form-wrapper {
    border-radius: 0px !important;
    box-shadow: none !important;
    width: 100% !important;

    .login-form {
      width: 100% !important;
      position: relative !important;
      top: 0px;
      left: 0px;

      .submit {
        font-size: 18px !important;
      }
    }
  }
}
