<!-- Widget Tình trạng đơn hàng -->
<div class="col-sm-6  dash-widget" *ngIf="showHideWidget.order_status === true">
    <div class="row full-width dash-card dash-card-normal">
        <div class="dash-card-header full-width">
            Tình trạng đơn hàng
        </div>
        <div class="dash-card-content dash-card-content-tick full-width">
            <div class="row full-width">
                <div class="col-sm-7">
                    <div class="row full-width  dash-order-status" *ngFor="let order_item of lstOrderStatuses"
                        [ngClass]="order_item.tick_color">
                        <span class="order-label-2">{{order_item.name}}</span>
                        <ng5-slider [(value)]="defaultMinValue" [(highValue)]="order_item.process_value"
                            [options]="order_item.options">
                        </ng5-slider>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="row full-width order-summary-2 text-center">
                        <p class="order-label full-width">Đơn mua hàng</p>
                        <p class="order-value full-width">{{objOrder.order_count}}</p>
                        <p class="order-label full-width">Tổng giá trị</p>
                        <p class="order-value full-width">{{objOrder.order_value | number}} VNĐ</p>
                    </div>
                    <div class="row full-width order-summary-2 text-center">
                        <p class="order-label full-width">Đã hoàn thành</p>
                        <p class="order-value full-width">{{objOrder.finish_order}}</p>
                        <p class="order-label full-width">Tổng giá trị</p>
                        <p class="order-value full-width">{{objOrder.finish_order_value | number}} VNĐ</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Widget Biểu đồ doanh thu bán hàng theo tháng -->
<div class="col-sm-6 dash-widget">
    <div class="row full-width dash-card dash-card-normal">
        <div class="dash-card-content dash-card-content-tick full-width">
            <div class="row full-width">
                <!-- <highcharts-chart style="width: 100%; display: block; margin: auto; float: left;"
                    [Highcharts]="Highcharts" [options]="order_chart">
                </highcharts-chart> -->
            </div>
        </div>
    </div>
</div>

<div class="row full-width">
    <div class="col-sm-6 p-n">
        <!-- Widget Doanh thu đơn bán hàng cao nhất-->
        <div class="col-sm-12 p-n dash-widget">
            <div class="row full-width dash-card dash-card-normal">
                <div class="dash-card-header full-width">
                    Doanh thu đơn bán hàng cao nhất
                </div>
                <div class="dash-card-content dash-card-content-view full-width">

                    <div class="row full-width m-b-15">
                        <div class="col-sm-2">Mã đơn hàng</div>
                        <div class="col-sm-4"><b>{{order_sale1.code}}</b></div>
                        <div class="col-sm-2">Trạng thái</div>
                        <div class="col-sm-4"><b>{{order_sale1.status}}</b></div>
                    </div>
                    <div class="row full-width m-b-15">
                        <div class="col-sm-12"><b>{{order_sale1.name}}</b></div>
                    </div>
                    <div class="row full-width m-b-15">
                        <div class="col-sm-2">Số lượng: </div>
                        <div class="col-sm-4"><b>{{order_sale1.quantity}}</b></div>
                        <div class="col-sm-2">Doanh nghiệp</div>
                        <div class="col-sm-4"><b>{{order_sale1.customer_name}}</b></div>
                    </div>
                    <div class="row full-width dash-view-detail b-b">
                        <button class="btn btn-primary" (click)="viewNewestOrder(order_sale1)">Xem đơn đặt hàng</button>
                    </div>
                    <div class="row full-width m-b-15 m-t-15">
                        <div class="col-sm-2">Mã đơn hàng</div>
                        <div class="col-sm-4"><b>{{order_sale2.code}}</b></div>
                        <div class="col-sm-2">Trạng thái</div>
                        <div class="col-sm-4"><b>{{order_sale2.status}}</b></div>
                    </div>
                    <div class="row full-width m-b-15">
                        <div class="col-sm-12"><b>{{order_sale2.name}}</b></div>
                    </div>
                    <div class="row full-width m-b-15">
                        <div class="col-sm-2">Số lượng: </div>
                        <div class="col-sm-4"><b>{{order_sale2.quantity}}</b></div>
                        <div class="col-sm-2">Doanh nghiệp</div>
                        <div class="col-sm-4"><b>{{order_sale2.customer_name}}</b></div>
                    </div>
                    <div class="row full-width dash-view-detail">
                        <button class="btn btn-primary" (click)="viewNewestOrder(order_sale2)">Xem đơn đặt hàng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 p-n">
        <!--Widget thống kê khách hàng sản phẩm-->
        <div class="col-sm-12 p-n">
            <div class="dash-widget">
                <div class="row full-width dash-card dash-card-small">
                    <div class="dash-card-content dash-card-content-customer row full-width">
                        <div class="col-sm-4 text-center">
                            <div class="widget-box">
                                <img src="/assets/images/box.png" />
                                <p class="full-width" class="box-quantity box-yellow">5</p>
                                <p class="full-width"><b>Sản phẩm</b></p>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <p class="full-width b-t p-b-15">Sản phẩm bán chạy nhất</p>
                            <div class="row full-width m-t-15">
                                <div class="col-sm-7 p-n">
                                    Mắc ca loại 1
                                </div>
                                <div class="col-sm-5 text-right box-yellow">
                                    <b>4 tấn</b>
                                </div>
                            </div>
                            <div class="row full-width m-t-25">
                                <div class="col-sm-7 p-n">
                                    Cây giống
                                </div>
                                <div class="col-sm-5 text-right box-yellow">
                                    <b>10.000 cây</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dash-widget">
                <div class="row full-width dash-card dash-card-small">
                    <div class="dash-card-content dash-card-content-customer row full-width">
                        <div class="col-sm-4 text-center">
                            <div class="widget-box">
                                <img src="/assets/images/team.png" />
                                <p class="full-width" class="box-quantity box-green">20</p>
                                <p class="full-width"><b>Khách hàng</b></p>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <p class="full-width b-t p-b-15">Thống kê khách hàng</p>
                            <div class="row full-width m-t-15">
                                <div class="col-sm-7 p-n">
                                    Số lượng khách hàng tháng này
                                </div>
                                <div class="col-sm-5 text-right box-green">
                                    <b>30</b>
                                </div>
                            </div>
                            <div class="row full-width m-t-25">
                                <div class="col-sm-7 p-n">
                                    Số lượng khách hàng tháng trước
                                </div>
                                <div class="col-sm-5 text-right box-green">
                                    <b>20</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Widget danh sách khách hàng -->
        <div class="col-sm-12 p-n dash-widget">
            <div class="row full-width dash-card dash-card-normal-x">
                <div class="dash-card-header full-width">
                    Khách hàng
                </div>
                <div class="dash-card-content dash-card-content-list full-width">
                    <div class="row full-width customer-row">
                        <div class="col-sm-4">
                            <img src="/assets/images/customer/minhan.png" />
                        </div>
                        <div class="col-sm-8">
                            <p class="customer-name full-width">Công ty cổ phần Minh An</p>
                        </div>
                    </div>
                    <div class="row full-width customer-row">
                        <div class="col-sm-4">
                            <img src="/assets/images/customer/thanhhuong.png" />
                        </div>
                        <div class="col-sm-8">
                            <p class="customer-name full-width">Công ty cổ phần Thanh Hương</p>
                        </div>
                    </div>
                    <div class="row full-width customer-row">
                        <div class="col-sm-4">
                            <img src="/assets/images/customer/ngoisaoxanh.png" />
                        </div>
                        <div class="col-sm-8">
                            <p class="customer-name full-width">Công ty cổ phần Ngôi sao xanh</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>