<div class="histaffhrm-edit-employee-content" data-v-d837c158="">
  <div class="histaffhrm-horizontal-padding histaffhrm-vertical-padding" data-v-6dc896a6="">
    <h6 class="oxd-text oxd-text--h6 histaffhrm-main-title" data-v-7588b244="" data-v-6dc896a6="">
      Trình độ văn hóa</h6>
    <hr class="oxd-divider" role="separator" aria-orientation="horizontal" data-v-15f084db="" data-v-6dc896a6="">

    <app-dynamic-form [formName]="'educationForm'" [submitText]="'Gửi duyệt'" [controls]="educationControls$" (onFormCreated)="onFormCreated($event)" (onSubmit)="onSubmit($event)"></app-dynamic-form>

  </div>
</div>
