<div class="card w-100 shadow-xss rounded-xxl border-0 mb-3">
    <div class="card-body d-flex align-items-center  p-4">
        <h4 class="fw-700 mb-0 font-xssss text-grey-900">Photos</h4>
        <a routerLink="/home" class="fw-600 ms-auto font-xssss text-primary">See all</a>
    </div>
    <div class="card-body d-block pt-0 pb-2">
        <div class="row ps-3 pe-3">
            <div *ngFor="let image of _albums; let i=index" class="col-6 mb-1 p-1">
                <img src="{{image.thumb}}" width="100%" (click)="open(i)" />
            </div>
        </div>
    </div>
    <div class="card-body d-block w-100 pt-0">
        <a routerLink="/home"
            class="p-2 lh-28 w-100 d-block bg-grey text-grey-800 text-center font-xssss fw-700 rounded-xl"><i
                class="feather-external-link font-xss me-2"></i> More</a>
    </div>
</div>