.tester-left {
    position: fixed;
    top: 100px;
    left: 0px;
    z-index: 9999999999;
    height: 100px;
    background-color: blueviolet;
    display: none;
}

.tester-right {
    position: fixed;
    top: 100px;
    z-index: 9999999999;
    height: 100px;
    background-color: rgb(226, 208, 43);
    display: none;
}