cms-app-salaryperiod {
    .b-r {
        border-right: 1px solid #ccc;
        padding-top: 0.5rem!important;
        background-color: #fff;
    }
    .p-l {
       padding-left: 0px !important;
    }
}
