<div class="app-main-content">
  <div class="app-container">
    <!-- toolbar -->
    <div class="app-toolbar">
      <div class="card-full">
        <!-- breadcrum-->
        <div class="app-breadcrum">
          <div class="brackcrum">
            <i class="fa fa-sitemap" aria-hidden="true"></i>Hồ sơ <i class="fa fa-angle-double-right"
              aria-hidden="true"></i>Danh mục
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            <span class="brackcrum-active" href='/cms/attendance/list/salaryperiod'>Kỳ lương</span>
          </div>
        </div>
        <!-- toolbar -->
        <app-common-tools name="slaryperiod" [items$]="toolItems$" (toolItemClicked)="clickToolbar($event)"></app-common-tools>
      </div>
    </div>
    <div class="app-content">
      <div class="row">
        <div class="col-sm-2 b-r">
          <ejs-treeview #listGroup id="default" (nodeSelected)="groupSelecting($event!)">
          </ejs-treeview>
        </div>
        <div class="col-sm-10 p-l">
          <ejs-grid #overviewgrid id='overviewgrid' [dataSource]='data | async'
            (dataStateChange)="dataStateChange($event!)" rowHeight='37' headerHeight='42' [height]='configs.height()'
            [allowPaging]='true' [pageSettings]='configs.pageSettings' [enableHover]='true'
            (recordDoubleClick)="viewRecord($event!)" [allowSorting]='true' allowResizing='true'
            [locale]='configs.currentLang' [allowSelection]='true' [showColumnChooser]='true'
            [selectionSettings]='configs.selectionSettings' [editSettings]='configs.editSettings'
            (rowSelecting)="setButtonStatus($event!)" (rowDeselecting)="setButtonStatus($event!)" [allowFiltering]='true'>
            <e-columns>
              <e-column type='checkbox' [showInColumnChooser]='false' [allowFiltering]='false' [allowSorting]='false'
                width='50' textAlign="Center" [allowEditing]="false">
              </e-column>
              <e-column field='id' [showInColumnChooser]='false' [visible]='false' headerText='ID' [isPrimaryKey]='true'
                [allowEditing]="false">
              </e-column>

              <e-column field='year' headerTextAlign="Center" textAlign="Center" headerText="Năm"
                clipMode='EllipsisWithTooltip' width="80"></e-column>
              <e-column field='month' headerTextAlign="Center" textAlign="Center" headerText="Tháng"
                clipMode='EllipsisWithTooltip' width="80"></e-column>
              <e-column field='name' headerTextAlign="Left" textAlign="Left" headerText="Tên kỳ lương"
                clipMode='EllipsisWithTooltip' width="120"></e-column>
              <e-column field='dateStart' headerTextAlign="Center" type="date"
                [format]="{ type: 'date', format: 'dd/MM/yyyy' }" textAlign="Center" headerText="Ngày bắt đầu"
                clipMode='EllipsisWithTooltip' width="120"></e-column>
              <e-column field='dateEnd' headerTextAlign="Center" type="date"
                [format]="{ type: 'date', format: 'dd/MM/yyyy' }" textAlign="Center" headerText="Ngày bắt đầu"
                clipMode='EllipsisWithTooltip' width="120"></e-column>
              <e-column field='standardWorking' headerTextAlign="Center" textAlign="Center" headerText="Ngày công chuẩn"
                clipMode='EllipsisWithTooltip' width="100">
              </e-column>
              <e-column field='note' headerTextAlign="Center" textAlign="Left" headerText="Ghi chú"
                clipMode='EllipsisWithTooltip'>
              </e-column>
            </e-columns>
          </ejs-grid>
        </div>
      </div>

    </div>
  </div>
</div>