<div class="app-main-content">
  <div class="app-container">
    <!-- toolbar -->
    <div class="app-toolbar">
      <div class="card-center">
        <!-- breadcrum-->
        <div class="app-breadcrum">
          <div class="brackcrum">
            <i class="fa fa-sitemap" aria-hidden="true"></i>Bảo hiểm <i
              class="fa fa-angle-double-right" aria-hidden="true"></i>Nghiệp vụ
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            <span class="brackcrum-active"
              href='/cms/profile/business/insinformation'>Thông tin bảo
              hiểm</span>
          </div>
        </div> <!-- toolbar -->
        <app-common-tools name="insinformation-edit" [items$]="toolItems$" (toolItemClicked)="clickToolbar($event)"></app-common-tools>
      </div>
    </div>
    <div class="app-content">
      <div class="card-center">
        <form name="editForm" [formGroup]="editForm" novalidate>
          <!-- Thông tin hợp đồng -->
          <div class="group-box">
            <div class="card-head">
              <div class="icon-info histaff-icon"></div>
              <label class="title">Thông tin chung</label>
            </div>
            <div class="row">
              <!-- mã nhân viên -->
              <div class="col-sm-4">
                <div class="form-group vertical-flex">
                  <label class="e-float-text required" for="employeeCode">Mã
                    nhân viên</label>
                  <input formControlName="employeeCode"
                    [(ngModel)]="model.employeeCode" type="text"
                    class="form-control" readonly>
                  <div class="input-group-append">
                    <button class="btn btn-search" type="button"
                      (click)="choiseEmp()"></button>
                  </div>
                  <span class="input-error"
                    *ngIf="editForm.get('employeeCode')!.hasError('required') && !editForm.get('employeeCode')!.untouched">
                    Bắt buộc chọn
                  </span>
                </div>
              </div>
              <!-- họ và tên -->
              <div class="col-sm-4">
                <div class="form-group vertical">
                  <label class="e-float-text" for="fullname">Họ và Tên</label>
                  <input type="text" formControlName="employeeName"
                    class="form-control" [(ngModel)]="model.employeeName"
                    readonly>
                </div>
              </div>
            </div>
            <div class="row">
              <!-- Phòng ban -->
              <div class="col-sm-4">
                <div class="form-group vertical">
                  <label class="e-float-text" for="orgId">Phòng ban</label>
                  <input type="text" formControlName="orgName"
                    class="form-control" [(ngModel)]="model.orgName" readonly>
                </div>
              </div>
              <!-- Chức danh -->
              <div class="col-sm-4">
                <div class="form-group vertical">
                  <label class="e-float-text" for="positionId">Chức danh</label>
                  <input type="text" formControlName="positionName"
                    class="form-control" [ngModel]="model.positionName"
                    readonly>
                </div>
              </div>
            </div>
          </div>
          <!-- Thông tin bảo hiểm -->
          <div class="group-box">
            <div class="card-head">
              <div class="icon-info histaff-icon"></div>
              <label class="title">Thông tin bảo hiểm xã hội</label>
            </div>
            <div class="row">
              <!-- Số bảo hiểm -->
              <div class="col-sm-4">
                <div class="form-group vertical">
                  <label class="e-float-text" for="bhxhNo">Số sổ BHXH</label>
                  <input type="text" formControlName="bhxhNo"
                    [(ngModel)]="model.bhxhNo" class="form-control">
                 <!-- <span class="input-error"
                    *ngIf="editForm.get('bhxhNo')!.hasError('required') && !editForm.get('bhxhNo')!.untouched">
                    Bắt buộc chọn
                  </span>-->
                </div>
              </div>
              <!--Ngày cấp  -->
              <div class="col-sm-4">
                <div class="form-group vertical">
                  <label class="e-float-text" for="ngayhachtoan">Ngày cấp</label>
                  <ejs-datepicker id="bhxhDate" format="dd/MM/yyyy"
                    [(ngModel)]="model.bhxhDate"
                    (keydown)="changeDateNoRequire('bhxhDate')"
                    (blur)="changeDateNoRequire('bhxhDate')" formControlName="bhxhDate"
                    placeholder=".../.../...">
                  </ejs-datepicker> 
                </div>
              </div>
              <!-- Nơi cấp -->
              <div class="col-sm-4">
                <div class="form-group vertical">
                  <label class="e-float-text " for="bhxhPlace">Nơi
                    cấp</label>
                  <input type="text" formControlName="bhxhPlace"
                    [(ngModel)]="model.bhxhPlace" class="form-control">
                </div>
              </div>
            </div>

            <!-- Ghi chú -->
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group vertical">
                  <label class="e-float-text">Ghi chú</label>
                  <textarea class="form-control" formControlName="bhxhNote"
                    [(ngModel)]="model.bhxhNote"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <!-- Tình trạng sổ -->
              <div class="col-sm-4">
                <div class="form-group vertical">
                  <label class="e-float-text" for="bhxhStatusId">Tình trạng sổ</label>
                  <ejs-dropdownlist id='bhxhStatusId'
                    [dataSource]='lstBhxhStatusId'
                    formControlName="bhxhStatusId" [showClearButton]="true"
                    [(ngModel)]="model.bhxhStatusId" [fields]='fields'
                    [allowFiltering]='true'
                    (filtering)='onFiltering($event,lstBhxhStatusId)'>
                  </ejs-dropdownlist>
                  <!-- <span class="input-error"
                    *ngIf="editForm.get('bhxhStatusId')!.hasError('required') && !editForm.get('bhxhStatusId')!.untouched">
                    Bắt buộc chọn
                  </span> -->
                </div>
              </div>
            </div>

          </div>
          <!-- Thông tin bảo hiểm -->
          <div class="group-box">
            <div class="card-head">
              <div class="icon-info histaff-icon"></div>
              <label class="title">Thông tin bảo hiểm y tế</label>
            </div>
            <div class="row">
              <!-- Số bảo hiểm -->
              <div class="col-sm-4">
                <div class="form-group vertical">
                  <label class="e-float-text">Số thẻ y tế</label>
                  <input type="text" formControlName="bhytNo"
                    class="form-control" [(ngModel)]="model.bhytNo">
                  <span class="input-error"
                    *ngIf="editForm.get('bhytNo')!.hasError('incorrect') && !editForm.get('bhytNo')!.untouched">
                    Sai định dạng
                  </span>
                  <!--<span class="input-error"
                    *ngIf="editForm.get('bhytNo')!.hasError('required') && !editForm.get('bhytNo')!.untouched">
                    Bắt buộc chọn
                  </span>-->
                </div>
              </div>
              <!-- Nơi khám chữa bệnh -->
              <div class="col-sm-4">
                <div class="form-group vertical">
                  <label class="e-float-text">Nơi khám chữa bệnh</label>
                  <ejs-dropdownlist id='placeRegisId'
                    [dataSource]='lstPlaceRegisId'
                    formControlName="placeRegisId" [showClearButton]="true"
                    [(ngModel)]="model.placeRegisId" [fields]='fields'
                    [allowFiltering]='true'
                    (filtering)='onFiltering($event,lstPlaceRegisId)'>
                  </ejs-dropdownlist>
                </div>
              </div>
            </div>
            <div class="row">
              <!--Ngày hiệu lực  -->
              <div class="col-sm-4">
                <div class="form-group vertical">
                  <label class="e-float-text" for="ngayhachtoan">Ngày
                    hiệu
                    lực</label>
                  <ejs-datepicker id="bhytEffectDate" format="dd/MM/yyyy"
                    [(ngModel)]="model.bhytEffectDate"
                    (keydown)="changeDate('bhytEffectDate')"
                    (blur)="changeDate('bhytEffectDate')"
                    formControlName="bhytEffectDate" placeholder=".../.../...">
                  </ejs-datepicker>
                 <!-- <span class="input-error"
                    *ngIf="editForm.get('bhytEffectDate')!.hasError('required') && !editForm.get('bhytEffectDate')!.untouched">
                    Bắt buộc chọn
                  </span> 
                  <span class="input-error"
                    *ngIf="editForm.get('bhytEffectDate')!.hasError('incorrect') && !editForm.get('bhytEffectDate')!.untouched">
                    Sai định dạng
                  </span>-->
                </div>
              </div>
              <!-- Ngày hết hạn -->
              <div class="col-sm-4">
                <div class="form-group vertical">
                  <label class="e-float-text">Ngày hết hạn</label>
                  <ejs-datepicker id="bhytExpireDate" format="dd/MM/yyyy"
                    [(ngModel)]="model.bhytExpireDate"
                    (keydown)="changeDate('bhytExpireDate')"
                    (blur)="changeDate('bhytExpireDate')"
                    formControlName="bhytExpireDate" placeholder=".../.../...">
                  </ejs-datepicker>
                  <!-- <span class="input-error"
                    *ngIf="editForm.get('bhytExpireDate')!.hasError('required') && !editForm.get('bhytExpireDate')!.untouched">
                    Bắt buộc chọn
                  </span> 
                  <span class="input-error"
                    *ngIf="editForm.get('bhytExpireDate')!.hasError('incorrect') && !editForm.get('bhytExpireDate')!.untouched">
                    Sai định dạng
                  </span>-->
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- search employee -->
<cms-app-modalsemp id="cms-app-modalsemp">
</cms-app-modalsemp>
<!-- CONFIRM BACK MODAL-->
<gohr-confirm-modal id="confirm-back-modal">
  <div class="row full-width gohr-modal-header">
    Những thay đổi hiện tại sẽ bị mất. Bạn có thực sự muốn tiếp tục?
  </div>
  <div class="row full-width gohr-modal-footer text-center">
    <button class="btn btn-primary" (click)="confirmBack('ok')">Đồng
      ý</button>
    <button class="btn btn-default" (click)="confirmBack('cancel')">Hủy</button>
  </div>
</gohr-confirm-modal>

<!-- CONFIRM DELETE MODAL-->
<gohr-confirm-modal id="confirm-delete-modal">
  <div class="row full-width gohr-modal-header">
    Những thay đổi hiện tại sẽ bị mất. Bạn có thực sự muốn tiếp tục?
  </div>
  <div class="row full-width gohr-modal-footer text-center">
    <button class="btn btn-primary" (click)="confirmDelete('ok')">Đồng
      ý</button>
    <button class="btn btn-default"
      (click)="confirmDelete('cancel')">Hủy</button>
  </div>
</gohr-confirm-modal>

<!-- CONFIRM DIRECT MODAL-->
<gohr-confirm-modal id="confirm-direct-modal">
  <div class="row full-width gohr-modal-header">
    Những thay đổi hiện tại sẽ bị mất. Bạn có thực sự muốn tiếp tục?
  </div>
  <div class="row full-width gohr-modal-footer text-center">
    <button class="btn btn-primary">Đồng
      ý</button>
    <button class="btn btn-default">Hủy</button>
  </div>
</gohr-confirm-modal>
