// Import app.theme.scss
@import "app/app.theme";
@import "assets/css/style-bootstrap.css";
@import "assets/css/style.css";
@import "assets/css/portstyle.css";
// @import "assets/css/style1.css";
@import "assets/css/style-material.css";
@import "assets/css/style-default.css";

@import "assets/vendors/mdi/css/materialdesignicons.min.css";
@import "assets/vendors/flag-icon-css/css/flag-icon.min.css";
@import "assets/vendors/css/vendor.bundle.base.css";
@import "assets/vendors/font-awesome/css/font-awesome.min.css";
@import "assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css";

@import '~ngx-org-chart/_theming.scss';
// @import "assets/css/syncfusion/bootstrap4.scss";
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-icons/styles/bootstrap.css";
//@import "../node_modules/@syncfusion/ej2-angular-navigations/styles/material.css";

// @import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
// @import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@font-face {
  font-family: GoHR-font;
  //src: url(/assets/fonts/SVN-Avo.ttf) format("opentype");
  //src: url('https://fonts.googleapis.com/css?family=Roboto') format("opentype");
  src: url(/assets/fonts/Roboto-Regular.ttf) format("truetype");
}

.e-ddl.e-popup.e-popup-flmenu.e-lib.e-control.e-popup-open {
  display: none !important;
  visibility: hidden !important;
}

html {
  background-color: #fff !important;
}

.h100 {
  height: 100px
}