<!-- Widget Công việc chung-->
<div class="col-sm-6 dash-widget" *ngIf="showHideWidget.work_general === true">
    <div class="row full-width dash-card dash-card-normal">
        <div class="dash-card-header full-width">
            Công việc chung (3)
            <span class="btn-remove-widget" (click)="closeWidget('work_general')"><i class="fa fa-close"></i></span>
        </div>
        <div class="dash-card-content dash-card-content-list full-width">
            <div class="row full-width dash-list-search">
                <div class="col-sm-9">
                    <input [(ngModel)]="searchWorkGeneral" [ngModelOptions]="{standalone: true}"
                        placeholder="Nhập thông tin tìm kiếm" (keypress)="searchWorkGeneralEnterFunc($event!)">
                    <span class="btn-search" (click)="searchWorkGeneralFunc()"><i class="fa fa-search"></i></span>
                </div>
            </div>
            <div class="row full-width dash-list-content">
                <div class="row full-width dash-list-item" *ngFor="let item of lstWorkGeneral">
                    <div class="col-sm-3">
                        <div class="full-width dash-border">{{item.work_date}}</div>
                    </div>
                    <div class="col-sm-6">
                        <div class="full-width dash-border">{{item.work_name}}</div>
                    </div>
                    <div class="col-sm-3 dash-status"
                        [ngClass]="{'dash-success': item.status_id === 1, 'dash-warning': item.status_id === 2, 'dash-error': item.status_id === 3, 'dash-primary': item.status_id === 4}">
                        <i class="fa fa-circle"></i>{{item.status_name}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Widget Tổng quát -->
<div class="col-sm-6  dash-widget" *ngIf="showHideWidget.order_request === true">
    <div class="row full-width dash-card dash-card-normal">
        <div class="dash-card-header full-width">
            Yêu cầu mua hàng
            <span class="btn-remove-widget" (click)="closeWidget('order_request')"><i class="fa fa-close"></i></span>
        </div>
        <div class="dash-card-content dash-card-content-summary full-width">
            <div class="row full-width">
                <div class="col-sm-4 text-center" style="margin-bottom: 50px;">
                    <p class="full-width summary-analytics summary-warning">2</p>
                    <p class="full-width summary-label">YCMH chờ phê duyệt</p>
                </div>
                <div class="col-sm-4 text-center">
                    <p class="full-width summary-analytics summary-success">1</p>
                    <p class="full-width summary-label">YCMH đã phê duyệt</p>
                </div>
                <div class="col-sm-4 text-center">
                    <p class="full-width summary-analytics summary-error">2</p>
                    <p class="full-width summary-label">YCMH bị từ chối</p>
                </div>
                <div class="col-sm-4 text-center">
                    <p class="full-width summary-analytics summary-error">0</p>
                    <p class="full-width summary-label">Đơn mua hàng bị từ chối</p>
                </div>
                <div class="col-sm-4 text-center">
                    <p class="full-width summary-analytics summary-success">2</p>
                    <p class="full-width summary-label">Đơn mua hàng đã phê duyệt</p>
                </div>
                <div class="col-sm-4 text-center">
                    <p class="full-width summary-analytics summary-primary">2</p>
                    <p class="full-width summary-label">Đơn mua hàng đang thực hiện</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Widget Tình trạng đơn hàng -->
<div class="col-sm-6  dash-widget" *ngIf="showHideWidget.order_status === true">
    <div class="row full-width dash-card dash-card-normal">
        <div class="dash-card-header full-width">
            Tình trạng đơn hàng
        </div>
        <div class="dash-card-content dash-card-content-tick full-width">
            <div class="row full-width">
                <div class="col-sm-7">
                    <div class="row full-width  dash-order-status" *ngFor="let order_item of lstOrderStatuses"
                        [ngClass]="order_item.tick_color">
                        <span class="order-label-2">{{order_item.name}}</span>
                        <ng5-slider [(value)]="defaultMinValue" [(highValue)]="order_item.process_value"
                            [options]="order_item.options">
                        </ng5-slider>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="row full-width order-summary-2 text-center">
                        <p class="order-label full-width">Đơn mua hàng</p>
                        <p class="order-value full-width">{{objOrder.order_count}}</p>
                        <p class="order-label full-width">Tổng giá trị</p>
                        <p class="order-value full-width">{{objOrder.order_value | number}} VNĐ</p>
                    </div>
                    <div class="row full-width order-summary-2 text-center">
                        <p class="order-label full-width">Đã hoàn thành</p>
                        <p class="order-value full-width">{{objOrder.finish_order}}</p>
                        <p class="order-label full-width">Tổng giá trị</p>
                        <p class="order-value full-width">{{objOrder.finish_order_value | number}} VNĐ</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Widget Biểu đồ chi phí mua hàng theo tháng -->
<div class="col-sm-12 dash-widget">
    <div class="row full-width dash-card dash-card-normal">
        <div class="dash-card-content dash-card-content-tick full-width">
            <div class="row full-width">
                <!-- <highcharts-chart style="width: 100%; display: block; margin: auto; float: left;"
                    [Highcharts]="Highcharts" [options]="order_chart">
                </highcharts-chart> -->
            </div>
        </div>
    </div>
</div>