<div class="app-main-content">
  <div class="app-container">
    <!-- toolbar -->
    <div class="app-toolbar">
      <div class="card-full">
        <!-- breadcrum-->
        <div class="app-breadcrum">
          <div class="brackcrum">
            <i class="fa fa-sitemap" aria-hidden="true"></i>Công <i
              class="fa fa-angle-double-right" aria-hidden="true"></i>Nghiệp
            vụ
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            <span class="brackcrum-active"
              href='/cms/profile/appbusiness/timesheetmonthly'>Tổng họp
              công</span>
          </div>
        </div>
        <!-- toolbar -->
        <div class="main-toolbar">
          <button id="add" class="btn-action" (click)="clickToolbar(itemButton)"
            *ngFor="let itemButton of toolbar"
            [disabled]="itemButton.isDisable === true">
            <p class="text-center"><i
                class="fa {{itemButton.prefixIcon}} {{itemButton.iconColorClass}}"></i>
            </p>
            <p class="text-center">{{itemButton.text}}</p>
          </button>
        </div>
      </div>
    </div>

    <div class="row treeview">
      <div class="col-2 pt-3">
        <!-- title -->
        <ejs-treeview #treeView (nodeSelected)="nodeSelecting($event!)"
          [fields]='field'>
        </ejs-treeview>
      </div>
      <div class="col-10">
        <div class="row pt-4">
          <div class="col-sm-3">
            <div class="form-group vertical">
              <label class="e-float-text required">Năm</label>
              <ejs-dropdownlist id='yearId' [dataSource]='lstYearId'
                [(ngModel)]="model.yearId" [fields]='fields'
                (change)='changeYear($event!)'>
              </ejs-dropdownlist>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group vertical">
              <label class="e-float-text required" for="monthId">Kỳ
                Công</label>
              <ejs-dropdownlist id='monthId' [dataSource]='lstMonthId'
                [(ngModel)]="model.periodId" [fields]='fields'
                [allowFiltering]='true'
                (filtering)='onFiltering($event,lstMonthId)'
                (change)="changeMonth($event!)">
              </ejs-dropdownlist>
            </div>
          </div>
        </div>
        <div class="row pt-4">
          <!-- tab menu -->
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab"
                href="#home" role="tab" aria-controls="home"
                aria-selected="true">Bảng công gốc</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab"
                href="#profile" role="tab" aria-controls="profile"
                aria-selected="false">Bảng Xử lý dữ liệu công</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contact-tab" data-toggle="tab"
                href="#contact" role="tab" aria-controls="contact"
                aria-selected="false">Bảng tổng hợp công</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel"
              aria-labelledby="home-tab">
              1
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel"
              aria-labelledby="profile-tab">
              2
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel"
              aria-labelledby="contact-tab">
              <ejs-grid #overviewgrid id='overviewgrid' [dataSource]='data'
                rowHeight='45' headerHeight='52' [allowPaging]='true'
                [height]='configs.height()'
                [pageSettings]='configs.pageSettings' [enableHover]='true'
                [allowSorting]='true' allowResizing='true'
                [locale]='configs.currentLang' [allowSelection]='true'
                [allowFiltering]='true'
                [allowTextWrap]="true" [textWrapSettings]="configs.wrapSettings"
                [enableHover]="false">
                <e-columns>
                  <e-column field='id' [visible]='false' headerText='ID'
                    [isPrimaryKey]='true' [allowEditing]="false">
                  </e-column>
                  <e-column field='orgName' textAlign="Left"
                    headerTextAlign="Center" width="120" headerText="Phòng ban"
                    clipMode='EllipsisWithTooltip' isFrozen="true">
                  </e-column>
                  <e-column field='employeeCode' textAlign="Left"
                    headerTextAlign="Center" headerText="Mã"
                    clipMode='EllipsisWithTooltip' width="120" isFrozen="true">
                  </e-column>
                  <e-column field='employeeName' textAlign="Left"
                    headerTextAlign="Center" headerText="Tên"
                    clipMode='EllipsisWithTooltip' width="150" isFrozen="true">
                  </e-column>
                  <e-column field='positionName' textAlign="Left"
                    headerTextAlign="Center" headerText="Chức danh"
                    clipMode='EllipsisWithTooltip' width="120" isFrozen="true">
                  </e-column>
                  <e-column field='TIME_STANDARD' textAlign="Right"
                    headerTextAlign="Center"
                    headerText="Giờ công chuẩn"
                    clipMode='EllipsisWithTooltip'>
                  </e-column>
                  <e-column field='workingX' textAlign="Right"
                    headerTextAlign="Center"
                    headerText="Công làm việc ngày thường"
                    clipMode='EllipsisWithTooltip'>
                  </e-column>
                  <e-column field='workingXL' textAlign="Right"
                    headerTextAlign="Center"
                    headerText="Công làm việc ngày nghỉ lễ"
                    clipMode='EllipsisWithTooltip'>
                  </e-column>
                  <e-column field='workingCD' textAlign="Right"
                    headerTextAlign="Center" headerText="Công chế độ"
                    clipMode='EllipsisWithTooltip' width="120">
                  </e-column>
                  <e-column field='workingP' textAlign="Right"
                    headerTextAlign="Center" headerText="Phép năm"
                    clipMode='EllipsisWithTooltip' width="120">
                  </e-column>
                  <e-column field='workingKL' textAlign="Right"
                    headerTextAlign="Center" headerText="Nghỉ không lương"
                    clipMode='EllipsisWithTooltip'>
                  </e-column>
                  <e-column field='workingNB' textAlign="Right"
                    headerTextAlign="Center" headerText="Nghỉ bù"
                    clipMode='EllipsisWithTooltip' width="120">
                  </e-column>
                  <e-column field='workingL' textAlign="Right"
                    headerTextAlign="Center" headerText="Nghỉ lễ theo quy định"
                    clipMode='EllipsisWithTooltip'>
                  </e-column>
                  <e-column field='workingCT' textAlign="Right"
                    headerTextAlign="Center" headerText="Đi công tác"
                    clipMode='EllipsisWithTooltip' width="120">
                  </e-column>
                  <e-column field='workingVR' textAlign="Right"
                    headerTextAlign="Center"
                    headerText="Nghỉ việc riêng có hưởng lương"
                    clipMode='EllipsisWithTooltip'>
                  </e-column>
                  <e-column field='workingTS' textAlign="Right"
                    headerTextAlign="Center" headerText="Nghỉ thai sản"
                    clipMode='EllipsisWithTooltip' width="120">
                  </e-column>
                  <e-column field='workingH' textAlign="Right"
                    headerTextAlign="Center" headerText="Hội họp"
                    clipMode='EllipsisWithTooltip' width="120">
                  </e-column>
                  <e-column field='fullday' textAlign="Right"
                    headerTextAlign="Center" headerText="Công cả ngày"
                    clipMode='EllipsisWithTooltip' width="120">
                  </e-column>
                  <e-column field='workingO' textAlign="Right"
                    headerTextAlign="Center" headerText="Công Onsite"
                    clipMode='EllipsisWithTooltip' width="120">
                  </e-column>
                  <e-column field='totalWorkingX' textAlign="Right"
                    headerTextAlign="Center" headerText="Tổng công làm việc"
                    clipMode='EllipsisWithTooltip' width="120">
                  </e-column>
                  <e-column field='totalWorkingN' textAlign="Right"
                    headerTextAlign="Center" headerText="Tổng công nghỉ"
                    clipMode='EllipsisWithTooltip' width="120">
                  </e-column>
                  <e-column field='WorkingDutyp' textAlign="Right"
                    headerTextAlign="Center" headerText="Tổng trực chính"
                    clipMode='EllipsisWithTooltip' width="120">
                  </e-column>
                  <e-column field='WorkingDutye1' textAlign="Right"
                    headerTextAlign="Center" headerText="Tổng trực phụ 1"
                    clipMode='EllipsisWithTooltip' width="120">
                  </e-column>
                  <e-column field='WorkingDutye2' textAlign="Right"
                    headerTextAlign="Center" headerText="Tổng trực phụ 2"
                    clipMode='EllipsisWithTooltip' width="120">
                  </e-column>
                  <e-column field='WorkingDutyo' textAlign="Right"
                    headerTextAlign="Center" headerText="Tổng trực khác"
                    clipMode='EllipsisWithTooltip' width="120">
                  </e-column>
                </e-columns>
              </ejs-grid>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<!-- CONFIRM DELETE MODAL-->

