.w160 {
    width: 160px;
}

.w178 {
    width: 178px !important;
}

.h207 {
    height: 207px;
}

.icon-holder {
    width: 100%;
    height: 132px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
}

.total {
    width: 100%;
    padding: 11px;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    line-height: 18px;
}

.mr15i {
    margin-right: 15px !important;
}

.mh207 {
    max-height: 207px;
}