<div class="main-content right-chat-active">
    <div class="middle-sidebar-bottom">
        <div class="middle-sidebar-left pe-0">
            <div class="row">
                <div class="col-xl-12">

                    <ul>
                        <li>
                            <a routerLink="introduction">Introduction</a>
                        </li>
                    </ul>

                    <router-outlet></router-outlet>

                </div>
            </div>
        </div>
    </div>
</div>