<div class="main-content right-chat-active">
    <div class="middle-sidebar-bottom">
        <div class="middle-sidebar-left pe-0">
            <div class="row">
                <div class="col-xl-12">

                    <div class="flex-start">
                        <button class="btn btn-primary" style="white-space: nowrap; width: 150px;" routerLink="articles">List of Articles</button>
                        <button class="btn btn-secondary" style="white-space: nowrap; width: 150px;" routerLink="articles-table">Table of Articles</button>
                        <button class="btn btn-info" style="white-space: nowrap; width: 200px;" routerLink="articles-syncfusion">Sf Grid of Articles</button>
                    </div>

                    <div [@routeAnimation]="getAnimationData()">
                        <router-outlet></router-outlet>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>