<div class="app-main-content">
  <div class="app-container">
    <!-- toolbar -->
    <div class="app-toolbar">
      <div class="card-center">
        <!-- breadcrum-->
        <div class="app-breadcrum">
          <div class="brackcrum">
            <i class="fa fa-sitemap" aria-hidden="true"></i>Hồ sơ <i
              class="fa fa-angle-double-right" aria-hidden="true"></i>Nghiệp
            vụ
            <i class="fa fa-angle-double-right" aria-hidden="true"></i> <span
              class="brackcrum-active"
              href='/cms/profile/business/discipline'>Thông tin kỷ
              luật</span>
          </div>
        </div>
        <!-- toolbar -->
        <div class="main-toolbar">
          <button id="add" class="btn-action" (click)="clickToolbar(itemButton)"
            *ngFor="let itemButton of toolbar"
            [disabled]="itemButton.isDisable === true">
            <p class="text-center"><i
                class="fa {{itemButton.prefixIcon}} {{itemButton.iconColorClass}}"></i>
            </p>
            <p class="text-center">{{itemButton.text}}</p>
          </button>
        </div>
      </div>
    </div>
    <!--main-content -->
    <div class="card-center">
      <form name="editForm" [formGroup]="editForm" novalidate>
        <div class="group-box">
          <!-- title -->
          <div class="card-head">
            <div class="icon-info histaff-icon"></div>
            <label class="title">Thông tin quyết định</label>
          </div>
          <!--  -->
          <div class="row">
            <!--Ngày bắt đầu  -->
            <div class="col-sm-4">
              <div class="form-group vertical">
                <label class="e-float-text required" for="ngayhachtoan">Ngày
                  hiệu lực</label>
                <ejs-datepicker id="effectDate" format="dd/MM/yyyy"
                  [(ngModel)]="model.effectDate"
                  (keydown)="changeDate('effectDate')"
                  (blur)="changeDate('effectDate')" formControlName="effectDate"
                  placeholder=".../.../...">
                </ejs-datepicker>
                <span class="input-error"
                  *ngIf="editForm.get('effectDate')!.hasError('required') && !editForm.get('effectDate')!.untouched">
                  Bắt buộc chọn
                </span>
                <span class="input-error"
                  *ngIf="editForm.get('effectDate')!.hasError('incorrect') && !editForm.get('effectDate')!.untouched">
                  Sai định dạng
                </span>
              </div>
            </div>
            <!-- số quyết định -->
            <div class="col-sm-4">
              <div class="form-group vertical">
                <input class="form-control" type="text" [(ngModel)]="model.no"
                  formControlName="no">
                <label class="e-float-text required" for="no">Số quyết
                  định</label>
                <span class="input-error"
                  *ngIf="editForm.get('no')!.hasError('required') && !editForm.get('no')!.untouched">
                  Bắt buộc chọn
                </span>
              </div>
            </div>
            <!-- Trạng thái -->
            <div class="col-sm-4">
              <div class="form-group vertical">
                <label class="e-float-text required" for="statusId">Trạng
                  thái</label>
                <ejs-dropdownlist id='statusId' [dataSource]='lstStatusId'
                  formControlName="statusId" [showClearButton]="true"
                  [(ngModel)]="model.statusId" [fields]='fields'
                  [allowFiltering]='true'
                  (filtering)='onFiltering($event,lstStatusId)'>
                </ejs-dropdownlist>
                <span class="input-error"
                  *ngIf="editForm.get('statusId')!.hasError('required') && !editForm.get('statusId')!.untouched">
                  Bắt buộc chọn
                </span>
              </div>
            </div>
            <!--Ngày ký  -->
            <div class="col-sm-4">
              <div class="form-group vertical">
                <label class="e-float-text required" for="signDate">Ngày
                  ký</label>
                <ejs-datepicker id="signDate" format="dd/MM/yyyy"
                  [(ngModel)]="model.signDate"
                  (keydown)="changeDate('signDate')"
                  (blur)="changeDate('signDate')" formControlName="signDate"
                  placeholder=".../.../...">
                </ejs-datepicker>
                <span class="input-error"
                  *ngIf="editForm.get('signDate')!.hasError('required') && !editForm.get('signDate')!.untouched">
                  Bắt buộc chọn
                </span>
                <span class="input-error"
                  *ngIf="editForm.get('signDate')!.hasError('incorrect') && !editForm.get('signDate')!.untouched">
                  Sai định dạng
                </span>
              </div>
            </div>
            <!-- Người ký -->
            <div class="col-sm-4">
              <div class="form-group vertical-flex">
                <label class="e-float-text required" for="signerName">Người
                  ký</label>
                <input class="form-control" formControlName="signId"
                  [ngModel]="model.signerName" type="text" class="form-control"
                  readonly>
                <div class="input-group-append">
                  <button class="btn btn-search" type="button"
                    (click)="choiseSign()"></button>
                </div>
                <span class="input-error"
                  *ngIf="editForm.get('signId')!.hasError('required') && !editForm.get('signId')!.untouched">
                  Bắt buộc chọn
                </span>
              </div>
            </div>
            <!-- Chức danh -->
            <div class="col-sm-4">
              <div class="form-group vertical">
                <label class="e-float-text required" for="signerPosition">Vị trí công việc</label>
                <input class="form-control" type="text"
                  formControlName="signerPosition"
                  [ngModel]="model.signerPosition" readonly>
              </div>
            </div>
          </div>
        </div>
        <div class="group-box">
          <!-- title -->
          <div class="card-head">
            <div class="icon-info histaff-icon"></div>
            <label class="title">Thông tin kỷ luật</label>
          </div>
          <!--  -->
          <div class="row">
            <!--Đối tượng  -->
            <div class="col-sm-4">
              <div class="form-group vertical">
                <label class="e-float-text required" for="disciplineObjId">Đối
                  tượng</label>
                <ejs-dropdownlist id='disciplineObjId'
                  [dataSource]='lstDisciplineObjId'
                  formControlName="disciplineObjId" [showClearButton]="true"
                  [(ngModel)]="model.disciplineObjId" [fields]='fields'
                  [allowFiltering]='true'
                  (filtering)='onFiltering($event,lstDisciplineObjId)'
                  (change)="changeObject($event!)">
                </ejs-dropdownlist>
                <span class="input-error"
                  *ngIf="editForm.get('disciplineObjId')!.hasError('required') && !editForm.get('disciplineObjId')!.untouched">
                  Bắt buộc chọn
                </span>
              </div>
            </div>

            <!-- Hình thức kỷ luật -->
            <div class="col-sm-4">
              <div class="form-group vertical">
                <label class="e-float-text required" for="disciplineType">Hình
                  thức kỷ luật</label>
                <input class="form-control" type="text"
                  formControlName="disciplineType"
                  [(ngModel)]="model.disciplineType">
                <span class="input-error"
                  *ngIf="editForm.get('disciplineType')!.hasError('required') && !editForm.get('disciplineType')!.untouched">
                  Bắt buộc chọn
                </span>
              </div>
            </div>
            <!-- Lý do kỷ luật -->
            <div class="col-sm-4">
              <div class="form-group vertical">
                <label class="e-float-text required" for="reason">Lý do kỷ
                  luật</label>
                <input class="form-control" type="text" formControlName="reason"
                  [(ngModel)]="model.reason">
                <span class="input-error"
                  *ngIf="editForm.get('reason')!.hasError('required') && !editForm.get('reason')!.untouched">
                  Bắt buộc chọn
                </span>
              </div>
            </div>
            <!-- Mức thưởng -->
            <div class="col-sm-4">
              <div class="form-group vertical">
                <label class="e-float-text required" for="money">Mức
                  phạt</label>
                <ejs-numerictextbox format="N0" locale="en" name="money"
                  formControlName="money" [(ngModel)]="model.money" min="0"
                  max="999999999">
                </ejs-numerictextbox>
                <span class="input-error"
                  *ngIf="editForm.get('money')!.hasError('required') && !editForm.get('money')!.untouched">
                  Bắt buộc chọn
                </span>
              </div>
            </div>
            <!-- Năm -->
            <div class="col-sm-4">
              <div class="form-group vertical">
                <label class="e-float-text required" for="year">Năm</label>
                <ejs-numerictextbox  name="year"
                  formControlName="year" [(ngModel)]="model.year" min="2000"
                  max="2050" format="N0" (change)="changeYear($event!)">
                </ejs-numerictextbox>
                <span class="input-error"
                  *ngIf="editForm.get('money')!.hasError('required') && !editForm.get('money')!.untouched">
                  Bắt buộc chọn
                </span>
              </div>
            </div>
            <!-- Kỳ tính lương  -->
            <div class="col-sm-4">
              <div class="form-group vertical">
                <label class="e-float-text " for="periodId">Kỳ
                  tính lương</label>
                <ejs-dropdownlist id='periodId' [dataSource]='lstPeriodId'
                  formControlName="periodId" [showClearButton]="true"
                  [(ngModel)]="model.periodId" [fields]='fields'
                  [allowFiltering]='true'
                  (filtering)='onFiltering($event,lstPeriodId)'>
                </ejs-dropdownlist>
                <span class="input-error"
                  *ngIf="editForm.get('periodId')!.hasError('required') && !editForm.get('periodId')!.untouched">
                  Bắt buộc chọn
                </span>
              </div>
            </div>
            <!-- Trừ vào kỳ lương  -->
            <div class="col-sm-4">
              <div class="form-group">
                <div class="e-float-input">
                  <ejs-checkbox formControlName="isSalary"
                    label="Trừ vào kỳ lương" [(ngModel)]="model.isSalary">
                  </ejs-checkbox>
                </div>
              </div>
            </div>
            <!-- Ghi chú -->
          </div>
          <div class="row" *ngIf="model.disciplineObjCode=='OBJECT_ORG'">
            <!-- Phòng ban -->
            <div class="col-sm-4">
              <div class="form-group vertical-flex">
                <label class="e-float-text required" for="orgId">Phòng
                  ban</label>
                <input formControlName="orgId" [(ngModel)]="model.orgName"
                  type="text" class="form-control" readonly>
                <div class="input-group-append">
                  <button class="btn btn-search" type="button"
                    (click)="choiseOrg()"></button>
                </div>
                <span class="input-error"
                  *ngIf="editForm.get('orgId')!.hasError('required') && !editForm.get('orgId')!.untouched">
                  Bắt buộc chọn
                </span>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="model.disciplineObjCode=='OBJECT_EMP'">
            <!-- mã nhân viên -->
            <div class="col-sm-4">
              <div class="form-group vertical-flex">
                <label class="e-float-text required" for="empId">Mã nhân
                  viên</label>
                <input formControlName="empId" [(ngModel)]="model.employeeCode"
                  type="text" class="form-control" readonly>
                <div class="input-group-append">
                  <button class="btn btn-search" type="button"
                    (click)="choiseEmp()"></button>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group vertical">
                <label class="e-float-text required" for="positionName">Chức
                  vụ</label>
                <input class="form-control" type="text"
                  formControlName="positionName"
                  [(ngModel)]="model.positionName" readonly>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>



  </div>
</div>
<!-- search employee -->
<cms-app-modalsemp id="cms-app-modalsemp">
</cms-app-modalsemp>
<cms-app-modals-org id="cms-app-modals-org">
</cms-app-modals-org>
<!-- CONFIRM BACK MODAL-->
<gohr-confirm-modal id="confirm-back-modal">
  <div class="row full-width gohr-modal-header">
    Những thay đổi hiện tại sẽ bị mất. Bạn có thực sự muốn tiếp tục?
  </div>
  <div class="row full-width gohr-modal-footer text-center">
    <button class="btn btn-primary" (click)="confirmBack('ok')">Đồng ý</button>
    <button class="btn btn-default" (click)="confirmBack('cancel')">Hủy</button>
  </div>
</gohr-confirm-modal>

<!-- CONFIRM DELETE MODAL-->
<gohr-confirm-modal id="confirm-delete-modal">
  <div class="row full-width gohr-modal-header">
    Những thay đổi hiện tại sẽ bị mất. Bạn có thực sự muốn tiếp tục?
  </div>
  <div class="row full-width gohr-modal-footer text-center">
    <button class="btn btn-primary" (click)="confirmDelete('ok')">Đồng
      ý</button>
    <button class="btn btn-default"
      (click)="confirmDelete('cancel')">Hủy</button>
  </div>
</gohr-confirm-modal>

<!-- CONFIRM DIRECT MODAL-->
<gohr-confirm-modal id="confirm-direct-modal">
  <div class="row full-width gohr-modal-header">
    Những thay đổi hiện tại sẽ bị mất. Bạn có thực sự muốn tiếp tục?
  </div>
  <div class="row full-width gohr-modal-footer text-center">
    <button class="btn btn-primary">Đồng
      ý</button>
    <button class="btn btn-default">Hủy</button>
  </div>
</gohr-confirm-modal>
