<div class="app-main-content">
  <div class="app-container">
    <!-- toolbar -->
    <div class="app-toolbar">
      <div class="card-center">
        <!-- breadcrum-->
        <div class="app-breadcrum">
          <div class="brackcrum">
            <i class="fa fa-sitemap" aria-hidden="true"></i>Hồ sơ <i
              class="fa fa-angle-double-right" aria-hidden="true"></i>Danh mục
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            <span class="brackcrum-active"
              href='/cms/organize/list/job-band'>Danh mục cấp bậc</span>
          </div>
        </div>
        <!-- toolbar -->
        <div class="main-toolbar">
          <button id="add" class="btn-action" (click)="clickToolbar(itemButton)"
            *ngFor="let itemButton of toolbar"
            [disabled]="itemButton.isDisable === true">
            <p class="text-center"><i
                class="fa {{itemButton.prefixIcon}} {{itemButton.iconColorClass}}"></i>
            </p>
            <p class="text-center">{{itemButton.text}}</p>
          </button>
        </div>
      </div>
    </div>

    <!--main-content -->
    <div class="card-center">
      <form name="editForm" [formGroup]="editForm" novalidate>
        <div class="group-box">
          <!-- title -->
          <div class="card-head">
            <div class="icon-info histaff-icon"></div>
            <label class="title">Thông tin</label>
          </div>
          <!--  -->
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group vertical">
                <label class="e-float-text required">Tên cấp bậc(VN)</label>
                <input class="form-control" type="text" formControlName="nameVN"
                  [(ngModel)]="model.nameVN" maxlength="100">
                <span class="input-error"
                  *ngIf="editForm.get('nameVN')!.hasError('required') && !editForm.get('nameVN')!.untouched">
                  Bắt buộc nhập
                </span>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group vertical">
                <label class="e-float-text required">Tên cấp bậc(EN)</label>
                <input class="form-control" type="text" formControlName="nameEN"
                  [(ngModel)]="model.nameEN" maxlength="100">
                <span class="input-error"
                  *ngIf="editForm.get('nameEN')!.hasError('required') && !editForm.get('nameEN')!.untouched">
                  Bắt buộc nhập
                </span>
              </div>
            </div>
            <!--  -->
            <div class="col-sm-4">
              <div class="form-group vertical">
                <label class="e-float-text required">Cấp bậc</label>
                <input class="form-control" type="text" formControlName="levelFrom"
                  [(ngModel)]="model.levelFrom" maxlength="100">
                <span class="input-error"
                  *ngIf="editForm.get('levelFrom')!.hasError('required') && !editForm.get('levelFrom')!.untouched">
                  Bắt buộc nhập
                </span>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- CONFIRM BACK MODAL-->
<!-- <gohr-confirm-modal id="confirm-back-modal">
  <div class="row full-width gohr-modal-header">
    Những thay đổi hiện tại sẽ bị mất. Bạn có thực sự muốn tiếp tục?
  </div>
  <div class="row full-width gohr-modal-footer text-center">
    <button class="btn btn-primary" (click)="confirmBack('ok')">Đồng ý</button>
    <button class="btn btn-default" (click)="confirmBack('cancel')">Hủy</button>
  </div>
</gohr-confirm-modal> -->


<!-- CONFIRM DIRECT MODAL-->
<!-- <gohr-confirm-modal id="confirm-direct-modal">
  <div class="row full-width gohr-modal-header">
    Những thay đổi hiện tại sẽ bị mất. Bạn có thực sự muốn tiếp tục?
  </div>
  <div class="row full-width gohr-modal-footer text-center">
    <button class="btn btn-primary">Đồng
      ý</button>
    <button class="btn btn-default">Hủy</button>
  </div>
</gohr-confirm-modal> -->
