<div *ngIf="!newlayoutVersion">
  <div class="toolbar" *ngIf="appConfig.showLayout === 'true'">
    <app-toolbar [logoTemplate]="logoTemplate"></app-toolbar>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>

<app-tan-layout-v1 *ngIf="newlayoutVersion" 
  [items]="navigation" 
  [backgroundColor]="'white'"
  [logoTemplate]="logoTemplate"
  ></app-tan-layout-v1>

<ng-template #logoTemplate>
  <div class="app-logo">
    <img src="../../../assets/images/logo_no_padding.svg" class="app-logo-image">
  </div>
</ng-template>