<div class="app-main-content">
    <div class="app-container">
      <!-- toolbar -->
      <div class="app-toolbar">
        <div class="card-full">
          <!-- breadcrum-->
          <div class="app-breadcrum">
            <div class="brackcrum">
              <i class="fa fa-sitemap" aria-hidden="true"></i>Hồ sơ <i class="fa fa-angle-double-right"
                aria-hidden="true"></i>Danh mục
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
              <span class="brackcrum-active" href='/cms/organize/list/job-band'>Danh mục cấp bậc</span>
            </div>
          </div>
          <!-- toolbar -->
          <div class="main-toolbar">
            <button id="add" class="btn-action" (click)="clickToolbar(itemButton)" *ngFor="let itemButton of toolbar"
              [disabled]="itemButton.isDisable === true">
              <p class="text-center"><i class="fa {{itemButton.prefixIcon}} {{itemButton.iconColorClass}}"></i>
              </p>
              <p class="text-center">{{itemButton.text}}</p>
            </button>
          </div>
        </div>
      </div>
      <div class="app-content">
        <ejs-grid #overviewgrid id='overviewgrid' [dataSource]='data | async'
            (dataStateChange)="dataStateChange($event!)" rowHeight='37' headerHeight='42' [height]='configs.height()'
            [allowPaging]='true' [pageSettings]='configs.pageSettings' [enableHover]='true'
            (recordDoubleClick)="viewRecord($event!)" [allowSorting]='true' allowResizing='true'
            [locale]='configs.currentLang' [allowSelection]='true' [showColumnChooser]='true'
            [selectionSettings]='configs.selectionSettings' [editSettings]='configs.editSettings'
            (rowSelecting)="setButtonStatus($event!)" (rowDeselecting)="setButtonStatus($event!)" [allowFiltering]='true'>
            <e-columns>
              <e-column type='checkbox' [showInColumnChooser]='false' [allowFiltering]='false' [allowSorting]='false'
                width='60' textAlign="Center" [allowEditing]="false">
              </e-column>
              <e-column field='id' [showInColumnChooser]='false' [visible]='false' headerText='ID' [isPrimaryKey]='true'
                [allowEditing]="false">
              </e-column>
              <e-column field='nameVN' headerTextAlign="Center" textAlign="Left" headerText="Tên cấp bậc(VN)"
                clipMode='EllipsisWithTooltip' width="150"></e-column>
              <e-column field='nameEN' headerTextAlign="Center" textAlign="Left" headerText="Tên cấp bậc(EN)"
                clipMode='EllipsisWithTooltip' width="150"></e-column>
              <e-column field='levelFrom' headerTextAlign="Center" textAlign="Left" headerText="Cấp bậc"
                clipMode='EllipsisWithTooltip' width="120"></e-column>
              <e-column field='statusName' headerTextAlign="Center" textAlign="Left" headerText="Trạng thái"
                clipMode='EllipsisWithTooltip'  width="120"></e-column>
            </e-columns>
        </ejs-grid>
      </div>
    </div>
  </div>
  
  
<!-- CONFIRM DELETE MODAL-->
<gohr-confirm-modal id="confirm-delete-modal">
  <div class="row full-width gohr-modal-header">
    Những thay đổi hiện tại sẽ bị mất. Bạn có thực sự muốn tiếp tục?
  </div>
  <div class="row full-width gohr-modal-footer text-center">
    <button class="btn btn-primary" (click)="confirmDelete('ok')">Đồng
      ý</button>
    <button class="btn btn-default"
      (click)="confirmDelete('cancel')">Hủy</button>
  </div>
</gohr-confirm-modal>