/* SIZES */
$grid-font-size: 13px;
$grid-avatar-size: 36px;
$header-avatar-size: 36px;
$navigation-bar-height: 54px;
$common-tools-height: 54px;
$common-tools-inner-height: 19.14px;

//ejs-treeview
$ejs-treeview-rootItemBackgroundColor: #FFF5EA;


/* COLORS */
$primary: #F37540;
$dashboard-bar: #D2D2D2;
$dashboard-bar-hover: #ECE9E9;




