<div class="app-main-content">
    <div class="app-container">
      <!-- toolbar -->
      <div class="app-toolbar">
        <div class="card-full">
          <!-- breadcrum-->
          <div class="app-breadcrum">
            <div class="brackcrum">
              <i class="fa fa-sitemap" aria-hidden="true"></i>Tổ chức <i class="fa fa-angle-double-right"
                aria-hidden="true"></i>Danh mục
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
              <span class="brackcrum-active" href='/cms/organize/business/job'>Công việc</span>
            </div>
          </div>
          <!-- toolbar -->
          <app-common-tools name="job" [items$]="toolItems$" (toolItemClicked)="clickToolbar($event)"></app-common-tools>
        </div>
      </div>
      <div class="app-content">
        <ejs-grid #overviewgrid id='overviewgrid' [dataSource]='data | async'
            (dataStateChange)="dataStateChange($event!)" rowHeight='37' headerHeight='42' [height]='configs.height()'
            [allowPaging]='true' [pageSettings]='configs.pageSettings' [enableHover]='true'
            (recordDoubleClick)="viewRecord($event!)" [allowSorting]='true' allowResizing='true'
            [locale]='configs.currentLang' [allowSelection]='true' [showColumnChooser]='true'
            [selectionSettings]='configs.selectionSettings' [editSettings]='configs.editSettings'
            (rowSelecting)="setButtonStatus($event!)" (rowDeselecting)="setButtonStatus($event!)" [allowFiltering]='true'>
            <e-columns>
              <e-column type='checkbox' [showInColumnChooser]='false' [allowFiltering]='false' [allowSorting]='false'
                width='60' textAlign="Center" [allowEditing]="false">
              </e-column>
              <e-column field='id' [showInColumnChooser]='false' [visible]='false' headerText='ID' [isPrimaryKey]='true'
                [allowEditing]="false">
              </e-column>
              <e-column field='code' headerTextAlign="Center" textAlign="Left" headerText="Mã công việc"
                clipMode='EllipsisWithTooltip' width="100"></e-column>
              <e-column field='nameVN' headerTextAlign="Center" textAlign="Left" headerText="Tên tiếng Việt"
                clipMode='EllipsisWithTooltip' width="150"></e-column>
              <e-column field='nameEN' headerTextAlign="Center" textAlign="Left" headerText="Tên tiếng Anh"
                clipMode='EllipsisWithTooltip' width="150"></e-column>
              <e-column field='statusName' headerTextAlign="Center" textAlign="Left" headerText="Trạng thái"
                clipMode='EllipsisWithTooltip'  width="120"></e-column>
            </e-columns>
        </ejs-grid>
      </div>
    </div>
  </div>
  
  
<!-- CONFIRM DELETE MODAL-->
<gohr-confirm-modal id="confirm-delete-modal">
  <div class="row full-width gohr-modal-header">
    Bạn chắc chắn muốn xóa dữ liệu này?
  </div>
  <div class="row full-width gohr-modal-footer text-center">
    <button class="btn btn-primary" (click)="confirmDelete('ok')">Đồng
      ý</button>
    <button class="btn btn-default"
      (click)="confirmDelete('cancel')">Hủy</button>
  </div>
</gohr-confirm-modal>